<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital.mapper.BedMapper">
	<select id="bedList" resultType="bedDTO">
		select BED_NUM, ROOM_NUM, BED_STATUS
		from bed
		
	</select>
	
	<!-- <resultMap type="RoomDTO" id="roomResultMap">
		<constructor>
			<idArg column="room_num" jdbcType="VARCHAR" javaType="string"/>
			<arg column="ward_num" jdbcType="VARCHAR" javaType="string"/>
			<arg column="room_location" jdbcType="BIGINT" javaType="integer"/>
		</constructor>
	</resultMap> -->
	
	<select id="roomList" resultType="RoomDTO" parameterType="string">
		select ROOM_NUM, WARD_NUM, ROOM_LOCATION
		from room
		<if test="wardNum != null">
		where ward_num = #{wardNum}
		</if>
	</select>
	
	<select id="emerBedList" resultType="EmergencyDTO">
		select EMERBED_NUM, WARD_NUM, EMERBED_STATUS
		from emergency
	</select>
	
	<select id="wardList" resultType="WardDTO">
		select WARD_NUM, WARD_LOCATION
		from ward
	</select>
	
	<insert id="wardInsert" parameterType="WardDTO">
		insert into ward (WARD_NUM, WARD_LOCATION)
		values (#{wardNum}, #{wardLocation})
	</insert>
	
	<insert id="roomInsert" parameterType="RoomDTO">
		insert into room (ROOM_NUM, WARD_NUM, ROOM_LOCATION)
		values (#{roomNum}, #{wardNum}, #{roomLocation})
	</insert>
	
	<insert id="bedInsert" parameterType="BedDTO">
		insert into bed (BED_NUM, ROOM_NUM, BED_STATUS)
		values (#{bedNum}, #{roomNum}, #{bedStatus})
	</insert>
	
	<insert id="emerBedInsert" parameterType="EmergencyDTO">
		insert into emergency (EMERBED_NUM, WARD_NUM, EMERBED_STATUS)
		values (#{emerBedNum}, #{wardNum}, #{emerBedStatus})
	</insert>
	
	<select id="allRoomList" resultType="RoomDTO">
		select ROOM_NUM, WARD_NUM, ROOM_LOCATION
		from room
	</select>
    
    <delete id="wardsDelete" parameterType="string">
    	delete from ward
    	where ward_num in <foreach collection="wards" item="wardNum" open="(" close=")" index="index" separator=",">
    						#{wardNum}
    						</foreach>
    </delete>
	<delete id="roomsDelete" parameterType="string">
		delete from room
		where room_num in <foreach collection="rooms" item="roomNum" open="(" close=")" index="index" separator=",">
    						#{roomNum}
    						</foreach>
	</delete>
	<delete id="bedsDelete" parameterType="string">
		delete from bed
		where bed_num in <foreach collection="beds" item="bedNum" open="(" close=")" index="index" separator=",">
    						#{bedNum}
    						</foreach>
	</delete>
	<delete id="emerBedsDelete" parameterType="string">
		delete from emergency
		where emerbed_num in <foreach collection="emerBeds" item="emerBedNum" open="(" close=")" index="index" separator=",">
    						#{emerBedNum}
    						</foreach>
	</delete>
	
	
	
	
	
</mapper>