<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital.mapper.HosPatientMapper">
	
	<insert id="delete" parameterType="callDel">
		insert into call_ps_delete(DEL_CALL_NUM, DEL_PS_NUM, DEL_CAUSE, CALL_DATE)
		values(#{delCallNum}, #{delPsNum}, #{delCause}, sysdate)
	</insert>
	
	<update id="WPSupdate" parameterType="callDel">
	 update WARDPRESCRIPT
   		set CALL_STOP = '삭제접수',
   			STOP_CAUSE = #{delCallNum},
   			STOP_DATE = sysdate
   		where WARDPRESCRIPT_NUM = #{delPsNum}
	</update> 
	
	<update id="nursingUpdate" parameterType="string">
	 update nursing
   		set CALL_STOP = #{stpoN},
   		where nursing_NUM = #{psNum}
	</update>
	
	<!-- 드롭다운 -->
	<select id="selectDropDown" parameterType="string"
		resultType="RoomDTO">
		select room_Num, ward_num, room_Location from room
		<if test="location != null">
			where ward_num like '%'||#{location}||'%'
		</if>
		<if test="location == null">
			where ward_num = null
		</if>
	</select>


	<!-- 입원정보 생성자 resultMap --> 
	<!-- constructor : 생성자를 통한 맵핑, 생성자 파라미터에 명시된 순서대로 arg를 입력해야함 -->
	<resultMap type="HospitalizationDTO" id="hospResultMap">
		<constructor>
			<idArg column="HOSPITALIZATION_NUM" javaType="string" />
			<arg column="BED_NUM" javaType="string" />
			<arg column="PATIENT_NUM" javaType="string" />
			<arg column="IN_DATE" javaType="java.util.Date" />
			<arg column="OUT_DATE" javaType="java.util.Date" />
			<arg column="HOSPITALIZATION_STATUS" javaType="string" />
			<arg column="DOC_NUM" javaType="string" />
			<arg column="NUR_NUM" javaType="string" />
		</constructor>
	</resultMap>

	<!-- hosPatientDTO result 생성자 -->
	<resultMap type="hosPatient" id="hosPatientResultMap">
		<result column="patient_name" jdbcType="VARCHAR"
			javaType="string" property="patientName" />
		<result column="ROOM_LOCATION" jdbcType="BIGINT"
			javaType="integer" property="roomLoc" />
		<result column="room_num" jdbcType="VARCHAR" javaType="string"
			property="roomNum" />
		<result column="ward_num" jdbcType="VARCHAR" javaType="string"
			property="wardNum" />
		<result column="WARDPRESCRIPT_NUM" jdbcType="VARCHAR" 
		javaType="string" property="wardPsNum"/>
		<result column="DIAGNOSTIC_NAME" jdbcType="VARCHAR" 
		javaType="string" property="diagName"/>
		<result column="NURSING_NUM" jdbcType="VARCHAR" 
		javaType="string" property="nursingNum"/>
		<association property="hospitalizationDTO"
			javaType="HospitalizationDTO" resultMap="hospResultMap" />
	</resultMap>

	<sql id="HospBaseCol">
		h.BED_NUM, h.PATIENT_NUM, h.IN_DATE, h.HOSPITALIZATION_NUM
		, h.OUT_DATE, h.HOSPITALIZATION_STATUS, h.DOC_NUM, h.NUR_NUM
	</sql>
	
	
	
	
	<!-- 병동처방 -->
	<select id="searchCount" resultType="integer">
		select count(*) from HOSPITALIZATION
		where HOSPITALIZATION_STATUS like '%입원%'
	</select>
	<!-- 병동처방에서 입원번호 찾기 기능 -->
	<select id="searchList" resultMap="hosPatientResultMap"
		parameterType="hpSEP">
		select *
		from(select rownum as rn, p.patient_name, r.ROOM_LOCATION, r.room_num,
		r.ward_num, <include refid="HospBaseCol" />
		
		from PATIENT p join HOSPITALIZATION h
		on p.PATIENT_NUM = h.PATIENT_NUM
		join bed b 
		on h.bed_num = b.bed_num
		join room r 
		on b.room_num = r.room_num

		<trim prefix="where" prefixOverrides="AND|OR">
				h.HOSPITALIZATION_STATUS like '%입원%'
			<if test="location!=null">
				and r.ward_num like '%'||#{location}||'%'
			</if>
			<if test="roomN!=null">
				and b.room_num like '%'||#{roomN}||'%'
			</if>
			<if test="searchWord!=null">
				and (h.patient_num like '%'||#{searchWord}||'%'
				or patient_name like '%'||#{searchWord}||'%'
				or h.HOSPITALIZATION_NUM like '%'||#{searchWord}||'%'
				or h.BED_NUM like '%'||#{searchWord}||'%'
				or h.DOC_NUM like '%'||#{searchWord}||'%')
			</if>
				
		</trim>
		order by h.HOSPITALIZATION_NUM
		) where rn between #{startRow} and #{endRow}
	</select>





	<!-- 간호 쪽 -->
	<select id="nursingCount" resultType="integer">
		select count(*) from WARDPRESCRIPT
	</select>
	
	<!-- 간호일지에서 병동처방번호와 담당간호사 찾기 -->
	<select id="searchWardPs" resultMap="hosPatientResultMap"
		parameterType="hpSEP">
		select *
		from( select rownum rn, p.patient_name, r.ROOM_LOCATION, r.room_num
			,r.ward_num, wp.WARDPRESCRIPT_NUM, wp.DIAGNOSTIC_NAME
			, <include refid="HospBaseCol" />
		from PATIENT p join HOSPITALIZATION h
		on p.PATIENT_NUM = h.PATIENT_NUM
		join WARDPRESCRIPT wp
		on h.hospitalization_num = wp.hospitalization_num
		join bed b 
		on h.bed_num = b.bed_num
		join room r 
		on b.room_num = r.room_num
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="location!=null">
				r.ward_num like '%'||#{location}||'%'
			</if>
			<if test="roomN!=null">
				and b.room_num = #{roomN}
			</if>
			<if test="searchWord!=null">
				and (h.patient_num like '%'||#{searchWord}||'%'
				or patient_name like '%'||#{searchWord}||'%'
				or h.HOSPITALIZATION_NUM like '%'||#{searchWord}||'%'
				or h.BED_NUM like '%'||#{searchWord}||'%'
				or h.DOC_NUM like '%'||#{searchWord}||'%'
				or h.NUR_NUM like '%'||#{searchWord}||'%'
				or wp.wardprescript_num like '%'||#{searchWord}||'%'
				or wp.diagnostic_name like '%'||#{searchWord}||'%')
			</if>

			and h.HOSPITALIZATION_STATUS like '%입원%'
		</trim>
		order by wp.wardprescript_num
		) where rn between #{startRow} and #{endRow}

	</select>
	
	<!-- 입원 환자 하나의 정보 -->
	<select id="wardPatInfo" resultMap="hosPatientResultMap">
		select p.patient_name, r.room_location, r.room_num, <include refid="HospBaseCol" />
		from HOSPITALIZATION h left join PATIENT p
		on p.PATIENT_NUM = h.PATIENT_NUM
		left join bed b
		on h.bed_num = b.bed_num
		left join room r
		on b.room_num = r.room_num
		where h.HOSPITALIZATION_NUM like '%'||#{hospNum}||'%'
	</select>
	
	
	<!-- 환자의 처방정보 -->
	<select id="selectPatPs" resultType="hosPatient">
		select w.WARDPRESCRIPT_NUM as wardPsNum, w.DIAGNOSTIC_NAME as diagName
				, n.nursing_num as nursingNum
		from nursing n full outer join WARDPRESCRIPT w
			on n.WARDPRESCRIPT_NUM = w.WARDPRESCRIPT_NUM
		where w.HOSPITALIZATION_NUM like '%'||#{hospNum}||'%'
		order by w.INPUT_DATE
	</select>
	
	
	<!-- 내 담당 환자 -->
	<select id="empName" resultType="string">
		select EMP_NAME from employee
		where emp_num = #{empNum}
	</select>
	
	<select id="myWardPatient" resultMap="hosPatientResultMap">
		select p.patient_name, r.room_location, r.room_num, <include refid="HospBaseCol" />
		from HOSPITALIZATION h left join PATIENT p
		on p.PATIENT_NUM = h.PATIENT_NUM
		left join bed b
		on h.bed_num = b.bed_num
		left join room r
		on b.room_num = r.room_num
		where ${colNm} = #{empNum}
	</select>
	
</mapper>