<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital.mapper.HospitalizationMapper">

<sql id="HospitalizationBasseColumns">
	HOSPITALIZATION_NUM, BED_NUM, PATIENT_NUM, IN_DATE, OUT_DATE, HOSPITALIZATION_STATUS, DOC_NUM, NUR_NUM
</sql>

<insert id="hospitalizationInsert" parameterType="HospitalizationDTO">
	insert into hospitalization(<include refid="HospitalizationBasseColumns" /> )
	values (#{hospitalizationNum},#{bedNum},#{patientNum}
			,#{inDate},#{outDate},#{hospitalizationStatus}
			,#{docNum},#{nurNum})
</insert>

<select id="hospitalizationSelectList" resultType="HospitalizationDTO" parameterType="startEndPage">
	select * from (
		select ROW_NUMBER() over (order by HOSPITALIZATION_NUM) as rn,
				<include refid="HospitalizationBasseColumns"/>
		from hospitalization
	<trim prefix="where" prefixOverrides="AND | OR">
		<if test="searchWord != null">
		(HOSPITALIZATION_NUM like '%' || #{searchWord} ||'%'
		or PATIENT_NUM like '%' || #{searchWord} || '%')
		</if>
	</trim>
	)
	where rn between #{startRow} and #{endRow}
</select>

<select id="hospitalizatonCount" parameterType="string" resultType="integer">
	select count(*) from hospitalization
	<trim prefix="where" prefixOverrides="AND | OR">
		<if test="searchWord != null">
		(HOSPITALIZATION_NUM like '%' || #{searchWord} ||'%'
		or PATIENT_NUM like '%' || #{searchWord} || '%')
		</if>
	</trim>
</select>

<select id="hospitalizationSelectOne" resultType="HospitalizationDTO" parameterType="string">
	select <include refid="HospitalizationBasseColumns" />
	from hospitalization
	where HOSPITALIZATION_NUM = #{hospitalizationNum}
</select>

<update id="hospitalizationUpdate" parameterType="HospitalizationDTO">
	update hospitalization
	<trim prefix="set" suffixOverrides=",">
		BED_NUM=#{bedNum}, 
		PATIENT_NUM=#{patientNum},
		IN_DATE=#{inDate},
		OUT_DATE=#{outDate},
		HOSPITALIZATION_STATUS=#{hospitalizationStatus},
		DOC_NUM=#{docNum},
		NUR_NUM=#{nurNum}
	</trim>
	where HOSPITALIZATION_NUM = #{hospitalizationNum}
</update>

<delete id="hospitalizationDelete" parameterType="string">
	delete from hospitalization
	where HOSPITALIZATION_NUM = #{hospitalizationNum}
</delete>

<!-- emergencyPatient -->
<sql id="EmergencyPatientBaseColumns">
	EMERPATIENT_NUM, EMERBED_NUM, PATIENT_NUM, IN_DATE, OUT_DATE, DOC_NUM, NUR_NUM, HOSPITALIZATION_STATUS
</sql>

<select id="emerHospitalizationSelectList" resultType="EmergencyPatientDTO" parameterType="startEndPage">
	select * from (
		select ROW_NUMBER() over (order by EMERPATIENT_NUM) as rn,
				<include refid="EmergencyPatientBaseColumns"/>
		from EMERGENCY_PATIENT
	<trim prefix="where" prefixOverrides="AND | OR">
	<if test="searchWord != null">
		(EMERPATIENT_NUM like '%' || #{searchWord} ||'%'
		or PATIENT_NUM like '%' || #{searchWord} || '%')
	</if>
	</trim>
	)
	where rn between #{startRow} and #{endRow}
</select>

<select id="emerHospitalizatonCount" parameterType="string" resultType="integer">
	select count(*) from EMERGENCY_PATIENT
	<trim prefix="where" prefixOverrides="AND | OR">
	<if test="searchWord != null">
		(EMERPATIENT_NUM like '%' || #{searchWord} ||'%'
		or PATIENT_NUM like '%' || #{searchWord} || '%')
	</if>
	</trim>
</select>

<insert id="emerInsert" parameterType="EmergencyPatientDTO">
	insert into EMERGENCY_PATIENT(<include refid="EmergencyPatientBaseColumns" /> )
	values (#{emerPatientNum},#{emerBedNum},#{patientNum}
			,#{inDate},#{outDate}
			,#{docNum},#{nurNum},#{hospitalizationStatus}
			)
</insert>

<select id="emerSelectOne" resultType="EmergencyPatientDTO" parameterType="string">
	select <include refid="EmergencyPatientBaseColumns"/>
	from EMERGENCY_PATIENT
	where EMERPATIENT_NUM = #{emerPatientNum}
</select>

<update id="emerUpdate" parameterType="EmergencyPatientDTO">
	update EMERGENCY_PATIENT
	<trim prefix="set" suffixOverrides=",">
		EMERBED_NUM=#{emerBedNum}, 
		PATIENT_NUM=#{patientNum},
		IN_DATE=#{inDate},
		OUT_DATE=#{outDate},
		HOSPITALIZATION_STATUS=#{hospitalizationStatus},
		DOC_NUM=#{docNum},
		NUR_NUM=#{nurNum}
	</trim>
	where EMERPATIENT_NUM = #{emerPatientNum}
</update>

<delete id="emerDelete" parameterType="string">
	delete from EMERGENCY_PATIENT
	where EMERPATIENT_NUM = #{emerPatientNum}
</delete>


</mapper>