<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC    
   "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital.mapper.NursingMapper">
	
	<resultMap type="nursing" id="nursingResultMap">
			<id column="NURSING_NUM" jdbcType="VARCHAR"
			javaType="string" property="nursingNum" />
			<result column="WARDPRESCRIPT_NUM" jdbcType="VARCHAR"
			javaType="string" property="wardPsNum" />
			<result column="EMP_NUM" jdbcType="VARCHAR"
			javaType="string" property="empNum" />
			<result column="HANDLE_NURS" jdbcType="VARCHAR"
			javaType="string" property="handleNurs" />
			<result column="UPDATE_NURS" jdbcType="VARCHAR"
			javaType="string" property="updateNurs" />
			<result column="NURSING_CONTENT" jdbcType="VARCHAR"
			javaType="string" property="nursingCon" />
			<result column="HANDLE_PRESCRIPT" jdbcType="VARCHAR"
			javaType="string" property="hanPres" />
			<result column="PRESCRIPT_DATE" javaType="java.util.Date" 
				jdbcType="DATE" property="presDate" />
			<result column="INPUT_DATE" javaType="java.util.Date" 
				jdbcType="DATE" property="inputDate"/>
			<result column="UPDATE_DATE" javaType="java.util.Date" 
				jdbcType="DATE" property="updateDate"/>
	</resultMap>
	
	
	<sql id="baseCol">
		NURSING_NUM, WARDPRESCRIPT_NUM, EMP_NUM, handle_nurs
		,UPDATE_NURS , NURSING_CONTENT
		, HANDLE_PRESCRIPT, PRESCRIPT_DATE,
		INPUT_DATE, UPDATE_DATE
	</sql>

	<sql id="SelbaseCol">
		NURSING_NUM as nursingNum, WARDPRESCRIPT_NUM as wardPsNum
		, EMP_NUM as empNum, handle_nurs as handleNurs
		, UPDATE_NURS as updateNurs, NURSING_CONTENT as nursingCon
		, HANDLE_PRESCRIPT as hanPres, PRESCRIPT_DATE as presDate,
		INPUT_DATE as inputDate, UPDATE_DATE as updateDate
	</sql>

	<insert id="write" parameterType="nursing">
		insert into nursing(
		<include refid="baseCol" />
		)
		values(#{nursingNum}, #{wardPsNum}, #{empNum}, #{handleNurs}, null
		, #{nursingCon}, #{hanPres}, #{presDate}, sysdate, null)
	</insert>
	
	
	<select id="selectOne" resultType="nursing">
		select <include refid="SelbaseCol" /> from nursing
		where NURSING_NUM = #{nursingNum}
	</select>

	<update id="update" parameterType="nursing">
		update nursing
		set
		WARDPRESCRIPT_NUM = #{wardPsNum},
		EMP_NUM = #{empNum},
		UPDATE_NURS = #{updateNurs},
		NURSING_CONTENT = #{nursingCon},
		HANDLE_PRESCRIPT = #{hanPres},
		PRESCRIPT_DATE = #{presDate},
		UPDATE_DATE = sysdate
		where NURSING_NUM = #{nursingNum}
	</update>

	<delete id="delete" parameterType="string">
		delete from nursing where
		NURSING_NUM = #{num}
	</delete>
	
	
	<!-- 리스트 -->
	<!-- 카운트 -->
	<select id="count" resultType="integer">
		select Count(*) from nursing
	</select>
	
	<sql id="nursCol">
		n.NURSING_NUM, n.WARDPRESCRIPT_NUM, n.EMP_NUM, n.handle_nurs
		, n.UPDATE_NURS , n.NURSING_CONTENT
		, n.HANDLE_PRESCRIPT, n.PRESCRIPT_DATE
		,n.INPUT_DATE, n.UPDATE_DATE
	</sql>
	

	<!-- 전체 목록 -->
	<select id="selectList" parameterType="startEndPage" resultMap ="nursingResultMap">
		select * from ( 
			select rownum as rn, <include refid="nursCol"/>
			from nursing n
			left join WARDPRESCRIPT w
				on n.WARDPRESCRIPT_NUM = w.WARDPRESCRIPT_NUM
			left join HOSPITALIZATION h
				on w.HOSPITALIZATION_NUM = h.HOSPITALIZATION_NUM
				
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="kind != null">
				and h.HOSPITALIZATION_STATUS like '%'||#{kind}||'%'
			</if>
			<if test="searchWord!=null">
				and (h.patient_num like '%'||#{searchWord}||'%'
				or h.HOSPITALIZATION_NUM like '%'||#{searchWord}||'%'
				or h.BED_NUM like '%'||#{searchWord}||'%'
				or h.DOC_NUM like '%'||#{searchWord}||'%'
				or n.NURSING_NUM like '%'||#{searchWord}||'%'
				or n.EMP_NUM like '%'||#{searchWord}||'%'
				or n.wardprescript_num like '%'||#{searchWord}||'%'
				or n.handle_nurs like '%'||#{searchWord}||'%'
				or n.UPDATE_NURS like '%'||#{searchWord}||'%'
				or w.DIAGNOSTIC_NAME like '%'||#{searchWord}||'%'
				or w.WRITE_DOC like '%'||#{searchWord}||'%'
				or w.UPDATE_DOC like '%'||#{searchWord}||'%' )
			</if>
			
		</trim>	
		order by n.NURSING_NUM
		) where rn between #{startRow} and #{endRow}
	</select>
	

</mapper>