<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital.mapper.ReceiptMapper">
<select id="receiptSelectList" parameterType="receipt">
	select * from (select row_number() over(order by receipt_num) as rn
		, receipt_num, patient_num, emp_num, receipt_date, reservation_date
		from receipt
		<where>
			<if test="searchWord != null">
			receipt_num like '%' || #{searchWord} || '%'
		 	or patient_num like '%' || #{searchWord} || '%'
		 	</if>
		 </where>
		order by reservation_date
	)
where rn between #{startRow} and #{endRow}
</select>
<select id="receiptCount" parameterType="string" resultType="integer">
	select count(*) from receipt
	<where>
		<if test="searchWord != null">
		receipt_num like '%' || #{searchWord} || '%'
		 or patient_num like '%' || #{searchWord} || '%'
		</if>
	</where>
</select>
<insert id="receiptInsert" parameterType="receipt">
	insert into receipt(receipt_num, patient_num, emp_num
						, receipt_date, reservation_date)
	values(#{receiptNum}, #{patientNum}, #{empNum}
			, sysdate, sysdate)
</insert>
<insert id="reservationInsert" parameterType="receipt">
	insert into receipt(receipt_num, patient_num, emp_num
						, receipt_date, reservation_date)
	values(#{receiptNum}, #{patientNum}, #{empNum}
			, null, #{reservationDate})
</insert>
<select id="reservationSelectList" parameterType="string">
		select receipt_num, patient_num, emp_num, reservation_date
		from receipt
		where patient_num = #{patientNum}
		order by reservation_date
</select>
</mapper>