<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC    
   "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hospital.mapper.WardPsMapper">
   
   <!-- 병동처방 생성자 resultMap -->
	<resultMap type="wardPS" id="wardPsResultMap">
		<id column="WARDPRESCRIPT_NUM" javaType="string" 
		jdbcType="VARCHAR" property="wardPsNum" />
		<result column="HOSPITALIZATION_NUM" javaType="string" 
		jdbcType="VARCHAR" property="hospNum" />
		<result column="EMP_NUM" javaType="string" 
		jdbcType="VARCHAR" property="empNum" />
		<result column="WRITE_DOC" javaType="string" 
		jdbcType="VARCHAR" property="writeDoc" />
		<result column="UPDATE_DOC" javaType="string" 
		jdbcType="VARCHAR" property="updateDoc" />
		<result column="DIAGNOSTIC_NAME" javaType="string" 
		jdbcType="VARCHAR" property="diagName" />
		<result column="DIAGNOSTIC_CONTENT" javaType="string" 
		jdbcType="VARCHAR" property="diagCont"/>
		<result column="MEDICINE_PRESCRIPT" javaType="string" 
		jdbcType="VARCHAR" property="medicPres"/>
		<result column="EXAMINATION_PRESCRIPT" javaType="string" 
		jdbcType="VARCHAR" property="examPres"/>
		<result column="HANDLE_PRESCRIPT" javaType="string" 
		jdbcType="VARCHAR" property="hanPres"/>
		<result column="INPUT_DATE" javaType="java.util.Date" 
		jdbcType="DATE" property="inputDate"/>
		<result column="UPDATE_DATE" javaType="java.util.Date" 
		jdbcType="DATE" property="updateDate"/>
	</resultMap>
   
   
   <sql id="baseCol">
      WARDPRESCRIPT_NUM, HOSPITALIZATION_NUM
      , EMP_NUM, WRITE_DOC, UPDATE_DOC,
      DIAGNOSTIC_NAME, DIAGNOSTIC_CONTENT, MEDICINE_PRESCRIPT
      , EXAMINATION_PRESCRIPT, HANDLE_PRESCRIPT, INPUT_DATE, UPDATE_DATE
   </sql>
   
   <sql id="SelbaseCol">
      WARDPRESCRIPT_NUM as wardPsNum, HOSPITALIZATION_NUM as hospNum
      , EMP_NUM as empNum, WRITE_DOC as writeDoc, UPDATE_DOC as updateDoc
      , DIAGNOSTIC_NAME as diagName, DIAGNOSTIC_CONTENT as diagCont
      , MEDICINE_PRESCRIPT as medicPres, EXAMINATION_PRESCRIPT as examPres
      , HANDLE_PRESCRIPT as hanPres, INPUT_DATE as inputDate
      , UPDATE_DATE as updateDate
   </sql>
   
   <insert id="wardPsWrite" parameterType="wardPS">
      insert into WARDPRESCRIPT( <include refid="baseCol"/> )
      values(#{wardPsNum}, #{hospNum}, #{empNum}, #{writeDoc}, null
      		, #{diagName}, #{diagCont}, #{medicPres}, #{examPres}
      		, #{hanPres}, sysdate, null )
   </insert>
   
   
   
   <select id="count" resultType="integer">
   	select count(WARDPRESCRIPT_NUM) from WARDPRESCRIPT
   </select>
   
   <sql id="wardPsCol">
		w.WARDPRESCRIPT_NUM, w.HOSPITALIZATION_NUM
		, w.EMP_NUM, w.WRITE_DOC, w.UPDATE_DOC
		,w.DIAGNOSTIC_NAME, w.DIAGNOSTIC_CONTENT, w.MEDICINE_PRESCRIPT
      , w.EXAMINATION_PRESCRIPT, w.HANDLE_PRESCRIPT, w.INPUT_DATE, w.UPDATE_DATE
	</sql>
	
   <select id="selectList" resultMap="wardPsResultMap" parameterType="hpSEP">
      select *
		from(select rownum as rn, <include refid="wardPsCol" />
		from WARDPRESCRIPT w 
		LEFT JOIN HOSPITALIZATION h
			on w.HOSPITALIZATION_NUM = h.HOSPITALIZATION_NUM
		LEFT JOIN bed b 
			on h.bed_num = b.bed_num
		LEFT JOIN room r 
			on b.room_num = r.room_num

		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="hpState != null">
				h.HOSPITALIZATION_STATUS like '%'||#{hpState}||'%'
			</if>
			<if test="location!=null">
				and r.ward_num like '%'||#{location}||'%'
			</if>
			<if test="roomN!=null">
				and b.room_num like '%'||#{roomN}||'%'
			</if>
			<if test="searchWord!=null">
				and (h.patient_num like '%'||#{searchWord}||'%'
				or h.HOSPITALIZATION_NUM like '%'||#{searchWord}||'%'
				or h.BED_NUM like '%'||#{searchWord}||'%'
				or h.DOC_NUM like '%'||#{searchWord}||'%')
			</if>
				
		</trim>
		) where rn between #{startRow} and #{endRow}
   </select>
   
   
   <select id="selectOne" resultType="wardPS">
   		select <include refid="SelbaseCol"/> from WARDPRESCRIPT
   		where WARDPRESCRIPT_NUM = #{num}
   </select>
   
   
   <update id="wardPsUpdate" parameterType="wardPS">
   		update WARDPRESCRIPT
   		set  HOSPITALIZATION_NUM = #{hospNum}
   			, EMP_NUM = #{empNum}
   			, UPDATE_DOC = #{updateDoc}
   			, DIAGNOSTIC_NAME= #{diagName}
   			, DIAGNOSTIC_CONTENT = #{diagCont}
   			, MEDICINE_PRESCRIPT = #{medicPres}
      		, EXAMINATION_PRESCRIPT = #{examPres}
      		, HANDLE_PRESCRIPT = #{hanPres}
      		, UPDATE_DATE = sysdate
   		where WARDPRESCRIPT_NUM = #{wardPsNum}
   </update>
   
   <delete id="delete" parameterType="string">
   		delete from WARDPRESCRIPT
   		where WARDPRESCRIPT_NUM = #{num}
   </delete>
   
   
   
</mapper>