<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수술예약 수정화면</title>
</head>
<body>
<form action="surgeryAppointmentModify" method="post">
	<table border="1" width="600">
		<tr>
			<th>수술예약번호</th>
			<td><input type="text" name="surgeryAppointmentNum" th:value="${dto.surgeryAppointmentNum}" readonly="readonly"/></td>
		</tr>
		<tr>
			<th>수술명</th>
			<td><input type="text" name="surgeryName" th:value="${dto.surgeryName}"/></td>
		</tr>
		<tr>
			<th>수술날짜</th>
			<td><input type="date" name="surgeryDate" th:value="${#dates.format(dto.surgeryDate, 'yyyy-MM-dd')}"/></td>
		</tr>
		<tr>
			<th>집도의</th>
			<td><input type="text" name="sempNum" th:value="${dto.sempNum}"/></td>
		</tr>
		<tr>
			<th>마취의</th>
			<td><input type="text" name="aempNum" th:value="${dto.aempNum}"/></td>
		</tr>
		<tr>
			<th>수술실</th>
			<td><input type="text" name="operatingRoomNum" th:value="${dto.operatingRoomNum}"/></td>
		</tr>
		<tr>
			<th>처방번호</th>
			<td><input type="text" name="wardprescriptNum" th:value="${dto.wardprescriptNum}"/></td>
		</tr>
		<tr>
			<th colspan="2"><input type="submit" value="수정 완료"/></th>
		</tr>
	</table>
</form>
</body>
</html>