<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(){
		if($("#userName").val()==null){
			alert("이름을 입력해주세요");
			$("#userName").focus();
		}
		if($("#userPhone").val==null){
			alert("전화번호를 입력해주세요");
			$("#userPhone").focus();
		}
		if($("#userId").val==null){
			alert("아이디를 입력해주세요");
			$("#userId").focus();
		}
		
	});
});
</script>
</head>
<body>
비밀번호 찾기<br/>
<form action="patinetId" method="post" id="frm">
이름 : <input type="text" name="userName" id="userName"/>
아이디: <input type="text" name="userId" id="userId"/>
전화번호 : <input type="text" name="userPhone" id="userPhone"/>

<input type="submit" value="비밀번호 찾기">
</form>
</body>
</html>