<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(){
		if($("#userName").val()==null){
			alert("이름을 입력해주세요");
			$("#userName").focus();
		}
		if($("#userPhone").val==null){
			alert("전화번호를 입력해주세요");
			$("#userPhone").focus();
		}
		if($("#userEmail").val==null){
			alert("이메일을 입력해주세요");
			$("#userEmail").focus();
		}
		
	});
});
</script>
</head>
<body>
아이디 찾기<br/>
<form action="findEmpId" method="post" id="frm">
이름 : <input type="text" name="userName" id="userName"/><br/>
전화번호 : <input type="text" name="userPhone" id="userPhone"/><br/>
이메일: <input type="email" name="userEmail" id="userEmail"/><br/>
<input type="submit" value="아이디 찾기">
</form>
</body>
</html>