<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(){
		if($("#patientName").val()==null){
			alert("이름을 입력해주세요");
			$("#patientName").focus();
		}
		if($("#patientJuminF").val==null){
			alert("주민등록번호 앞자리를 입력해주세요");
			$("#patientJuminF").focus();
		}
		if($("#patientJuminB").val==null){
			alert("주민등록번호 뒷자리를 입력해주세요");
			$("#patientJuminB").focus();
		}
		
	});
});
</script>
</head>
<body>
환자등록번호 찾기<br/>
<form action="findPatientNum" method="post" id="frm">
이름 : <input type="text" name="patientName" id="patientName"/><br/>
주민등록번호 : <input type="text" name="patientJuminF" id="patientJuminF"/>-<input type="text" name="patientJuminB" id="patientJuminB"/><br/>
<input type="submit" value="회원등록번호 찾기">
</form>
</body>
</html>