<!DOCTYPE html>
<html>
<head>
 <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>환자등록번호 찾기 결과 </title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#patientRegist").on("click",function(){
		location.href="/patient/patientRegist?patientNum=[[${dto.patientNum}]]";
	});
});

</script>

<!-- Favicon -->
        <link rel="icon" href="static/img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="/static/css/nice-select.css">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="/static/css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="/static/css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="/static/css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="/static/css/datepicker.css">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
		
		<!-- Medipro CSS -->
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body>


<!-- Header Area -->
      <header class="header" >
         <!-- Topbar -->
         <div class="topbar">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-5 col-12">
                     <!-- Contact -->
                     <ul class="top-link">
                        <th:block  th:if="${session.auth==null}">
                        <i class="fa fa-user-md" style="color: #1a76d1"></i>
                              <li><a href="/login/employeeLogin">직원 로그인</a></li>
                        </th:block>
                     </ul>
                     <!-- End Contact -->
                  </div>
                  <div class="col-lg-6 col-md-7 col-12">
                     <!-- Top Contact -->
                     <ul class="top-contact">
                     <i class="fa fa-user" style="color: #1a76d1"></i>
                     <th:block th:if="${session.auth == null}"> 
                        <li><a href="/login/patientLogin">로그인</a></li>
                        <li><a href="/patient/patientWriteCon">회원가입</a></li>
                     </th:block>
                     <th:block th:if="${session.auth!=null}"> 
                        <li><a href="/login/logout">로그아웃</a></li>
                        <li><a href="/patient/patientMyPage">환자 마이페이지</a></li>   
                     </th:block>
                     </ul>
                     <!-- End Top Contact -->
                  </div>
               </div>
            </div>
         </div>
         <!-- End Topbar -->
         <!-- Header Inner -->
         <div class="header-inner">
            <div class="container">
               <div class="inner">
                  <div class="row">
                     <div class="col-lg-3 col-md-6 col-12">
                        <!-- Start Logo -->
                        <div class="logo">
                           <a href="/"><img src="/static/img/logo.png" alt="#"></a>
                        </div>
                        <!-- End Logo -->
                        <!-- Mobile Nav -->
                        <div class="mobile-nav"></div>
                        <!-- End Mobile Nav -->
                     </div>
                     <div class="col-lg-8 col-md-9 col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                           <nav class="navigation">
                              <ul class="nav menu">
                                 <li><a href="#">진료예약<i class="icofont-rounded-down"></i></a>
                                    <ul class="dropdown">
                                       <li><a href="/receipt/reservationForm">진료예약</a></li>
                                       <li><a href="/receipt/patientReservation">진료예약 확인</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="#">문의/건의<i class="icofont-rounded-down"></i></a>
                                 <ul class="dropdown">
                                 <li><a href="/qna/qnaList">문의/건의</a></li>
                                 </ul>
                                 </li>
								<li><a href="#">협력<i class="icofont-rounded-down"></i></a>
									<ul class="dropdown">
										<li><a href="../data/test">기업 협력 및 후원</a></li>
									</ul>
								</li>
                                 <li><a href="#">건강정보<i class="icofont-rounded-down"></i></a>
                                 <ul class="dropdown">
                                 <li><a href="/info/healthyList">건강정보</a></li>
                                 </ul>
                                 </li>
                                 <li><a href="#">병원안내<i class="icofont-rounded-down"></i></a>
                                 <ul class="dropdown">
                                 <li><a href="/info/introduce">병원소개</a></li>
                                 <li><a href="/info/directions">병원위치</a></li>
                                 <li><a href="/info/hospitalNews">병원소식</a></li>
                                 </ul>
                                 </li>
                                 <li><a href="#">진료과/의료진<i class="icofont-rounded-down"></i></a>
                                 <ul class="dropdown">
                                 <li><a href="/info/doctor">의료진</a></li>
                                 <li><a href="/info/section">진료과</a></li>
                                 </ul>
                                 </li>
                              </ul>
                           </nav>
                        </div>
                        <!--/ End Main Menu -->
                     </div>
                     <div class="col-lg-1 col-12">
                        <div class="get-quote">
                           <a href="/receipt/reservationForm" class="btn">빠른 진료예약</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--/ End Header Inner -->
      </header>
      <!-- End Header Area -->







<!-- Start Contact Us -->
	<section class="contact-us section">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6">
						<div class="contact-us-form">
							<h2>환자등록번호 찾기 결과</h2>
							
								<div class="row">
								<div class="col-lg-6">
										<div class="form-group">
										</div>
									</div>
									<div class="col-12" style="color:black">
									<th:block th:if="${dto.patientNum}!=null">
										<b>[[${dto.patientName}]]</b>님의 환자등록번호는 <b>[[${dto.patientNum}]]</b>입니다.<br/>
										</th:block>
										<th:block th:if="${dto.patientNum}==null">
											일치하는 환자등록번호가 없습니다.<br/>
											</th:block>
									</div>
									<div class="col-12">
										<div class="form-group">
											<span><a></a> </span>
										</div>
									</div>
									<div class="col-12">
										
									</div>
									<div class="col-12">
										<div class="form-group login-btn">
										<th:block th:if="${dto.patientNum}==null">
											<button type="button" class="btn" onclick="javascript:location.href='findPatientNum'">이전 페이지로</button>
										</th:block>
											<button class="btn" type="button" id="patientRegist">회원가입하기</button>
											<button class="btn" type="button" onclick="javascript:location.href='/login/patientLogin'">로그인하기</button>
										</div>
									</div>
								</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="/static/js/getCss.js"></script>
<div id="getFooter"></div>
		
</body>
</html>