<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>wardPsWrite</title>
</head>
<body>
병동처방 작성 <br>
<form action="wardPsWrite" method="post">
병동처방번호 : <input type="text" name="wardPsNum" 
          th:value="${autoNum}" readonly="readonly"> <!--번호 자동부여--><br>

입원번호 : <input type="text" name="hospNum" id="hospNum"> 
         <button type="button" id="SerHosp">입원번호 찾기</button><br>
         
담당의사번호 : <input type="text" name="empNum" id="empNum"><br>

진단명 : <input type="text" name="diagName"><br>

진단내용 : <textarea rows="10" cols="40" name="diagCont"></textarea><br>

약처방 : <textarea rows="10" cols="40" name="medicPres"></textarea><br>

검사 처방 : <textarea rows="10" cols="40" name="examPres"></textarea><br>

처치처방 : <textarea rows="10" cols="40" name="hanPres"></textarea><br>

<input type="submit" value="등록">

</form>
</body>
</html>