<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>wardPsList</title>
<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;
}
</style>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$.ajax({
		type : "get",
		url: "hosPatList1",
		dataType:"html",
		success:function(result){
			$("#listTable").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
});

</script>
<script th:inline="javascript">
	
	function moveWrite() {
		var empNum = [[${userNum}]];
		if (empNum != null && empNum != "") {
			if (empNum.startsWith('doc')) {
				location.href = "wardPsWrite";
			}else{
				alert('접근권한이 없습니다.');
				location.href = "/";
			}
		} else {
			alert('로그인이 필요한 서비스입니다.');
			location.href = "/";
		}
		
	}
	
</script>
</head>
<body>
<div id="getHeader"></div>

<br>
<div>
	<span style="font-size: 25px; margin-left: 50px; color: black;">병동처방</span>
	<span style="font-size: 18px; float: right; margin-right: 40px;">
		<a href="/" style="color: black;" >홈</a>
		<span style="margin: 10px;">|</span>
		<a th:href="|myPatientList?empNum=${userNum}|" style="color: black;">내 담당 환자</a>
	</span>
</div>
<br>
<div class="col-12" align="center">
		<div class="button">
			<a href="javascript:moveWrite()" class="btn" style="background-color: #66785f; color: white">병동처방 작성</a>
			<a href="WholeWardPsList" class="btn" style="background-color: #66785f; color: white">현/과거 병동처방 기록 목록</a>	
		</div>			
</div>	
		
	<br>
	<div id="listTable"></div>
	<br>
	<div id="getFooter"></div>
</body>
</html>