<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>emerHospitalizationList.html</title>
<script type="text/javascript">
function selectEmerPatientNum(emerPatientNum){
	   location.href = "emerHospitalizationDetail?emerPatientNum="+emerPatientNum;
	}
</script>
<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;

}
</style>
<!-- Meta Tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Site keywords here">
<meta name="description" content="">
<meta name='copyright' content=''>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Title -->
<title>Mediplus - Free Medical and Doctor Directory HTML
	Template.</title>

<!-- Favicon -->
<link rel="icon" href="../static/img/favicon.png">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
	rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap-green.min.css">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="../static/css/nice-select.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<!-- icofont CSS -->
<link rel="stylesheet" href="../static/css/icofont.css">
<!-- Slicknav -->
<link rel="stylesheet" href="../static/css/slicknav.min.css">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="../static/css/owl-carousel.css">
<!-- Datepicker CSS -->
<link rel="stylesheet" href="../static/css/datepicker.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="../static/css/animate.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="../static/css/magnific-popup.css">

<!-- Medipro CSS -->
<link rel="stylesheet" href="../static/css/normalize-green.css">
<link rel="stylesheet" href="../static/css/style-green.css">
<link rel="stylesheet" href="../static/css/responsive-green.css">
</head>
<body>

		<div align="center" style="font-size: 25px; margin: 10px; color: black;">
			응급리스트
		</div>
		<div align="center">
			<a href="../Hospitalization/emerHospitalizationForm" class="btn" style="background-color: #66785f; color: white">응급입원등록하기</a><br/>
		</div>

<form action="emerHospitalizationList" method="get" align="center">
		<tr>
			<td colspan=5>
				<input type="search" name="searchWord" size=60 th:value="${searchWord}"/>
				<input type="submit" value="검색" class="btn" style="background-color: #4b5945; color: white" />
			</td>
		</tr>
</form>

<table border="1" class="container col-8">

<tr align="center" style="background-color: #b2c9ad; color: black">
	<td>응급입원번호</td><td>응급입원환자</td><td>응급입원병상</td><td>응급입원상태</td>
</tr>
<tr th:each=" dto : ${list}" align="center" th:onclick="selectEmerPatientNum([[${dto.emerPatientNum}]])">
	<td>[[${dto.emerPatientNum}]]</a></td>
	<td>[[${dto.patientNum}]]</td>
	<td>[[${dto.emerBedNum}]]</td>
	<td>[[${dto.hospitalizationStatus}]]</td>
</tr>
<tr>
		<th colspan="5" style="text-align: center;">
			<span th:if="${page <= 1}">[이전]</span>
			<span th:if="${page > 1}">
			<a th:href="|emerHospitalizationList?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
			</span>
			<th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
				[<a th:href="|emerHospitalizationList?page=${i}&searchWord=${searchWord}|">[[${i}]]</a>]
			</th:block>
			<span th:if="${page < maxPage}">
			<a th:href="@{emerHospitalizationList?(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
			</span>
			<span th:if="${page >= maxPage}">
			[다음]
			</span>			
		</th>
		</tr>
</table>

<!-- jquery Min JS -->
        <script src="static/js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="static/js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="static/js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="static/js/easing.js"></script>
		<!-- Color JS -->
		<script src="static/js/colors.js"></script>
		<!-- Popper JS -->
		<script src="static/js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="static/js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="static/js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="static/js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="static/js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="static/js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="static/js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="static/js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="static/js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="static/js/steller.js"></script>
		<!-- Wow JS -->
		<script src="static/js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="static/js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="static/js/bootstrap.min.js"></script>
		<!-- Main JS -->
		<script src="static/js/main.js"></script>
</body>
</html>