<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>emerHospitalizationList.html</title>
</head>
<body>
응급리스트<br />
<a href="../Hospitalization/emerHospitalizationForm">입원수속</a><br/>
<!-- <a href="../Hospitalization/hospitalizationUpdate">입원수정</a><br/>
<a href="../Hospitalization/hospitalizationDelete">입원삭제</a><br/> -->

<table border="1">
<tr>
	<td>응급입원번호</td><td>응급입원환자</td><td>응급입원병상</td><td>응급입원상태</td>
</tr>
<tr th:each=" dto : ${list}">
	<td><a th:href="|emerHospitalizationDetail?emerPatientNum=${dto.emerPatientNum}|">[[${dto.emerPatientNum}]]</a></td>
	<td>[[${dto.patientNum}]]</td>
	<td>[[${dto.emerBedNum}]]</td>
	<td>[[${dto.hospitalizationStatus}]]</td>
</tr>
</table>
</body>
</html>