<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>emerHospitalizationForm.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#emerBedserch").click(function(){
		window.open("/WardRoomBed/emerBedList", "emerBedList", "width=400, height=230, top=100, left=100");
	})
})
</script>
</head>
<body>
응급입원수속 <br />
<form action="emerHospitalizationRegist" method="post" th:object="${emergencyPatientCommand}" >
입원번호 : <input type="text" name="emerPatientNum" th:value="${emergencyPatientCommand.emerPatientNum}" readonly="readonly"><br />
병상번호 : <input type="text" name="emerBedNum" id="emerBedNum" /> <button type="button" id="emerBedserch">병상검색</button><br />
환자번호 : <input type="text" name="patientNum" th:value="${emergencyPatientCommand.patientNum}"><br />
입원날짜 : <input type="date" name="inDate" th:value="${#dates.format(emergencyPatientCommand.inDate, 'yyyy-MM-dd')}"><br />
퇴원날짜 : <input type="date" name="outDate" th:value="${#dates.format(emergencyPatientCommand.outDate, 'yyyy-MM-dd')}"><br />
입원상태 : <input type="radio" name="hospitalizationStatus" value="입원" checked="checked"/>입원
				<input type="radio" name="hospitalizationStatus" value="퇴원"/>퇴원<br />
담당의사 : <input type="text" name="docNum"> <button type="button" id="docserch">의사검색</button><br />
담당간호사 : <input type="text" name="nurNum"> <button type="button" id="nurserch">간호사검색</button><br />
<input type="submit" value="입원등록">
</form>
</body>
</html>