<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hospitalizationList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function selectHospitalization(hospitalizationNum){
	   location.href = "hospitalizationDetail?hospitalizationNum="+hospitalizationNum;
	}
</script>
<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;

}
</style>
<script type="text/javascript">
$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
});
$(function(){
	$.ajax({
			type : "get",
			url: "../getFooter",
			dataType:"html",
			success:function(result){
				$("#getFooter").html(result);
			},
			error:function(){
				alert("서버오류");
			}
		});
});
</script>
</head>
<body>
<div id="getHeader"></div> 
<div align="center" style="font-size: 25px; margin: 10px; color: black;">
	입원리스트
</div> 
<div align="center">
<a href="../Hospitalization/hospitalizationForm" class="btn" style="background-color: #66785f; color: white">입원등록하기</a><br/>
</div>
<br>
<form action="hospitalizationList" method="get" align="center">
	<select name="kind">
		<option>모두</option>
		<option>입원</option>
		<option>퇴원</option>
	</select>
			<td colspan=5>
				<input type="search" name="searchWord" size=60 th:value="${searchWord}"/>
				<input type="submit" value="검색" class="btn" style="background-color: #4b5945; color: white"/>
			</td>
</form>
<br>
<table border="1" class="container col-8">
<tr align="center" style="background-color: #b2c9ad; color: black">
	<td>입원번호</td><td>입원환자</td><td>입원병상</td><td>입원상태</td>
</tr>
<tr th:each=" dto : ${list}" align="center" th:onclick="selectHospitalization([[${dto.hospitalizationNum}]])">
	<td>[[${dto.hospitalizationNum}]]</td>
	<td>[[${dto.patientNum}]]</td>
	<td>[[${dto.bedNum}]]</td>
	<td th:if="${dto.hospitalizationStatus}=='입원'" style="color: green">[[${dto.hospitalizationStatus}]]</td>
	<td th:if="${dto.hospitalizationStatus}=='퇴원'" style="color: red">[[${dto.hospitalizationStatus}]]</td>
</tr>
<tr>
		<th colspan="5" style="text-align: center;">
			<span th:if="${page <= 1}">[이전]</span>
			<span th:if="${page > 1}">
			<a th:href="|hospitalizationList?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
			</span>
			<th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
				[<a th:href="|hospitalizationList?page=${i}&searchWord=${searchWord}|">[[${i}]]</a>]
			</th:block>
			<span th:if="${page < maxPage}">
			<a th:href="@{hospitalizationList?(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
			</span>
			<span th:if="${page >= maxPage}">
			[다음]
			</span>			
		</th>
		</tr>
</table>
<div id="getFooter"></div>


</body>
</html>