<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hospitalizationInfo.html</title>
</head>
<body>
입원번호 : [[${hospitalizationCommand.hospitalizationNum}]]<br />
환자번호 : [[${hospitalizationCommand.bedNum}]]<br />
병상번호 : [[${hospitalizationCommand.patientNum}]]<br />
입원날짜 : [[${hospitalizationCommand.inDate}]]<br />
퇴원날짜 : [[${hospitalizationCommand.outDate}]]<br />
입원상태 : [[${hospitalizationCommand.hospitalizationStatus}]]<br />

<a th:href="|../hospitalizationUpdate/*{hospitalizationNum}|">입원수정</a> | 
<a th:href="|../hospitalizationDelete/*{hospitalizationNum}|">입원삭제</a> 
</body>
</html>