<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hospitalizationList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function selectHospitalization(hospitalizationNum){
	   location.href = "hospitalizationDetail?hospitalizationNum="+hospitalizationNum;
	}
</script>
<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;

}
</style>
<!-- Meta Tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Site keywords here">
<meta name="description" content="">
<meta name='copyright' content=''>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Title -->
<title>Mediplus - Free Medical and Doctor Directory HTML
	Template.</title>

<!-- Favicon -->
<link rel="icon" href="../static/img/favicon.png">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
	rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap-green.min.css">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="../static/css/nice-select.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<!-- icofont CSS -->
<link rel="stylesheet" href="../static/css/icofont.css">
<!-- Slicknav -->
<link rel="stylesheet" href="../static/css/slicknav.min.css">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="../static/css/owl-carousel.css">
<!-- Datepicker CSS -->
<link rel="stylesheet" href="../static/css/datepicker.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="../static/css/animate.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="../static/css/magnific-popup.css">

<!-- Medipro CSS -->
<link rel="stylesheet" href="../static/css/normalize-green.css">
<link rel="stylesheet" href="../static/css/style-green.css">
<link rel="stylesheet" href="../static/css/responsive-green.css">

</head>
<body>

<div align="center" style="font-size: 25px; margin: 10px; color: black;">
	입원리스트
</div> 
<div align="center">
<a href="../Hospitalization/hospitalizationForm" class="btn" style="background-color: #66785f; color: white">입원등록하기</a><br/>
</div>
<form action="hospitalizationList" method="get" align="center">
			<td colspan=5>
				<input type="search" name="searchWord" size=60 th:value="${searchWord}"/>
				<input type="submit" value="검색" class="btn" style="background-color: #4b5945; color: white"/>
			</td>
</form>
<br>
<table border="1" class="container col-8">
<tr align="center" style="background-color: #b2c9ad; color: black">
	<td>입원번호</td><td>입원환자</td><td>입원병상</td><td>입원상태</td>
</tr>
<tr th:each=" dto : ${list}" align="center" th:onclick="selectHospitalization([[${dto.hospitalizationNum}]])">
	<td>[[${dto.hospitalizationNum}]]</td>
	<td>[[${dto.patientNum}]]</td>
	<td>[[${dto.bedNum}]]</td>
	<td>[[${dto.hospitalizationStatus}]]</td>
</tr>
<tr>
		<th colspan="5" style="text-align: center;">
			<span th:if="${page <= 1}">[이전]</span>
			<span th:if="${page > 1}">
			<a th:href="|hospitalizationList?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
			</span>
			<th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
				[<a th:href="|hospitalizationList?page=${i}&searchWord=${searchWord}|">[[${i}]]</a>]
			</th:block>
			<span th:if="${page < maxPage}">
			<a th:href="@{hospitalizationList?(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
			</span>
			<span th:if="${page >= maxPage}">
			[다음]
			</span>			
		</th>
		</tr>
</table>



</body>
</html>