<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hospitalizationList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
</head>
<body>
입원리스트<br />
<a href="../Hospitalization/hospitalizationForm">입원수속</a><br/>
<!-- <a href="../Hospitalization/hospitalizationUpdate">입원수정</a><br/>
<a href="../Hospitalization/hospitalizationDelete">입원삭제</a><br/> -->

<table border="1">
<tr>
	<td>입원번호</td><td>입원환자</td><td>입원병상</td><td>입원상태</td>
</tr>
<tr th:each=" dto : ${list}">
	<td><a th:href="|hospitalizationDetail/${dto.hospitalizationNum}|">[[${dto.hospitalizationNum}]]</a></td>
	<td>[[${dto.patientNum}]]</td>
	<td>[[${dto.bedNum}]]</td>
	<td>[[${dto.hospitalizationStatus}]]</td>
</tr>
</table>
</body>
</html>