<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>nursingInfo</title>
</head>
<body>
<h2>병동간호</h2>
<a href="nursingList">목록으로 돌아가기</a>
<h1 align="center">간호번호 : [[${nursCommand.nursingNum}]]</h1>
<h2 align="center">처방번호 : <a th:href="|../wardPS/wardPsInfo?num=${nursCommand.wardPsNum}|">[[${nursCommand.wardPsNum}]]</a></h2>
<h3 align="center">처치일시 : [[${#dates.format(nursCommand.presDate, 'yyyy-MM-dd HH:mm')}]]</h3>
<p align="center"> 처치간호사 : <a href="#">[[${nursCommand.handleNurs}]]</a>
 | 담당간호사 : <a href="#">[[${nursCommand.empNum}]]</a> </p>
<p align="center"> 등록일시 : [[${#dates.format(nursCommand.inputDate, 'yyyy-MM-dd HH:mm:ss')}]]
 | 수정일시 : [[${#dates.format(nursCommand.updateDate, 'yyyy-MM-dd HH:mm:ss')}]]</p>
<hr>
<div align="center">
<h5>간호내용</h5>
[[${nursCommand.nursingCon}]]
<h5>처치처방</h5>
[[${nursCommand.hanPres}]]
</div>
<p align="center">
<a th:href="|nursingUpdate?num=${nursCommand.nursingNum}|">수정</a>
 | <a th:href="|nursingDelete?num=${nursCommand.nursingNum}|">삭제</a>
</p>
</body>
</html>