<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>nursingWrite</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script type="text/javascript">
$(function() {
	$("#btn").click(function() {
		window.open("../nursing/searchWardPs", "병동처방검색"
					,"width=620, height=500, left=30, top=50");
	});
	
});
</script>

</head>
<body>
 <a href="javascript:history.back();">이전</a> <br>
<form action="nursingWrite" method="post">
간호번호 : <input type="text" name="nursingNum" readonly="readonly" th:value="${autoNum}"><br>
병동처방번호 : <input type="text" name="wardPsNum" id="wardPsNum" readonly="readonly">
			<button type="button" id="btn">병동번호찾기</button> <br>
담당간호사 : 	<input type="text" name="empNum" id="nursNum" readonly="readonly"><br>
처치간호사 : 	<input type="text" name="handleNurs"
				th:value="${userNum}" readonly="readonly"><br>
<br>
간호내용 : <br>
<textarea rows="10" cols="40" name="nursingCon"></textarea><br>
처치처방 : <br>
<textarea rows="10" cols="40" name="hanPres"></textarea><br>
처치날짜 : <input type="datetime-local" name="presDate"> <br>
<input type="submit" value="등록">
</form>
</body>
</html>