<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hosPatInfoList</title>
<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;

}
</style>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>

<script type="text/javascript">

$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
});

$(function(){
	$.ajax({
		type : "get",
		url: "../getFooter",
		dataType:"html",
		success:function(result){
			$("#getFooter").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
});

function SelLoc() {
	var selectedValue = $("#location option:selected").val();
	
		$.ajax({
	        type: "get",
	        url: "hosPatList1",
	        data: { location: selectedValue },
	        dataType:"html",
	        success: function (result) {
	        	$("#listTable").html(result);
	        },
	        error: function () {
	            alert("서버 오류");
	        }
	    });
}

function Selroom() {
	var par2 = $("#searchWord").val();
	var selectedValue = $("#location option:selected").val();
	var par4 = $("#roomN option:selected").val();
	if(par2 != null && par2 != ""){
		var formData = {searchWord : par2, location : selectedValue, roomN:par4};
	}else {
		var formData = {location : selectedValue, roomN:par4};
	}
	$.ajax({
        type: "get",
        url: "hosPatList1",
        data: formData,
        dataType:"html",
        success: function (result) {
        	$("#listTable").html(result);
        },
        error: function () {
            alert("서버 오류");
        }
    });
}

$(function(){
    $('#btn').on("click",function () {

    	var par2 = $("#searchWord").val();
    	var selectedValue = $("#location option:selected").val();
    	var par4 = $("#roomN option:selected").val();
    	if(selectedValue != null && selectedValue != "all"){
    		var formData = {searchWord : par2, location : selectedValue, roomN:par4};
    	}else {
    		var formData = {searchWord : par2};
    	}

        $.ajax({
            type: "get",
            url: "hosPatList1",
            data: formData,
            dataType: 'html',
            success: function (result) {
            	$("#listTable").html(result);
            },
            error: function () {
            	alert("서버 오류");

            }
        });
    });
});

function clickPage(page, searchWord, location, roomN) {
	var formData = {page : page, searchWord : searchWord, location : location, roomN : roomN};
	$.ajax({
        type: "get",
        url: "hosPatList1",
        data: formData,
        dataType: 'html',
        success: function (result) {
        	$("#listTable").html(result);
        },
        error: function () {
        	alert("서버 오류");

        }
    });
}

function selectPatient(hospNum){
	location.href = "patientwardPsList?hospNum="+hospNum;
}

</script>

</head>
<body>
	<div align="center" >
		<form id="frm" >
			<input type="search" name="searchWord" size=60 th:value="${searchWord}" id="searchWord" />
			<input type="button" id="btn" class="btn" value="검색" style="background-color: #4b5945; color: white">
			<div align="right" style="width: 800px; height: 40px; margin-top: 20px;">
				<select name="location" id="location"
					th:value="${location}" onchange="SelLoc()"
					style="width: 20%; text-align: center">
						<option value="all" selected="selected">전체</option>
						<option value="normal" th:selected="${location} == 'normal'">4층
							일반병동</option>
						<option value="critical" th:selected="${location} == 'critical'">5층
							중환자실</option>
				</select> 
				<select name="roomN" id="roomN" th:value="${roomN}"
					onchange="Selroom()" style="width: 20%; text-align: center">
						<option value="all" selected="selected">전체</option>
						<option th:each="room : ${room}" th:value="${room.roomNum}"
							th:selected="${room.roomNum} == ${roomN}">[[${room.roomLocation}]]</option>
				</select>
			</div>
		</form>
	</div>

	<table border="1" align="center" class="container col-8">
		<tr style="background-color: #b2c9ad; color: black" align="center">
			<th>입원실</th>
			<th>병상</th>
			<th>환자이름</th>
			<th>입원번호</th>
			<th>담당의</th>
			<th>담당간호사</th>
		</tr>

		<tr th:each="dto : ${list}"
			th:onclick="selectPatient([[${dto.HospitalizationDTO.hospitalizationNum}]])">
			<td>[[${dto.roomLoc}]]호 </td>
			<td>[[${dto.HospitalizationDTO.bedNum}]]</td>
			<td>[[${dto.patientName}]]</td>
			<td>[[${dto.HospitalizationDTO.hospitalizationNum}]]</td>
			<td>[[${dto.HospitalizationDTO.docNum}]]</td>
			<td>[[${dto.HospitalizationDTO.nurNum}]]</td>
		</tr>
		
		<tr>
			<th colspan="6" style="text-align: center;"><span
				th:if="${page <= 1}">[이전]</span> <span th:if="${page > 1}"> 
				<a href="#"
				th:onclick="clickPage([[${page - 1}]],[[${searchWord}]], [[${location}]], [[${roomN}]]); return false;">
				[이전]</a>
			</span> <th:block
					th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
				[<a href="#" 
				th:onclick="clickPage([[${i}]],[[${searchWord}]], [[${location}]], [[${roomN}]]); return false;">
				[[${i}]]</a>]
			</th:block> <span th:if="${page < maxPage}"> 
				<a href="#"
				th:onclick="clickPage([[${page + 1}]],[[${searchWord}]], [[${location}]], [[${roomN}]]); return false;">
				[다음]</a>
			</span> <span th:if="${page >= maxPage}"> [다음] </span></th>
		</tr>
	</table>
</body>
</html>