<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>myPatientList</title>
<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;
}

th{
		background-color: #b2c9ad;
	}
</style>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>

<script type="text/javascript">

function selectPatient(hospNum){
	location.href = "../wardPS/patientwardPsList?hospNum="+hospNum;
}
</script>
</head>
<body>
<a href="javascript:history.back()">이전</a> <br>
<h2>[[${empNum}]] [[${empName}]]</h2>
<table border="1" align="center" width="800px">
	<caption>환자 목록</caption>
	<tr>
			<th>입원실</th>
			<th>병상</th>
			<th>환자이름</th>
			<th>입원번호</th>
			<th>담당의</th>
			<th>담당간호사</th>
		</tr>

		<tr th:each="dto : ${list}" 
			th:onclick="selectPatient([[${dto.HospitalizationDTO.hospitalizationNum}]])">
			<td>[[${dto.roomLoc}]]호 </td>
			<td>[[${dto.HospitalizationDTO.bedNum}]]</td>
			<td>[[${dto.patientName}]]</td>
			<td>[[${dto.HospitalizationDTO.hospitalizationNum}]]</td>
			<td>[[${dto.HospitalizationDTO.docNum}]]</td>
			<td>[[${dto.HospitalizationDTO.nurNum}]]</td>
		</tr>
		<tr></tr>
</table>
<br>
<hr>
<br>

</body>
</html>