<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>searchHosp</title>
<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;
}
</style>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>

<script type="text/javascript">

function selecthosp(hospitalizationNum, docNum){
	$(opener.document).find("#hospNum").val(hospitalizationNum);
	$(opener.document).find("#empNum").val(docNum);
	window.self.close();
}



$(function() {
	$("#location").on("change", function() {
		
		// 선택된 옵션의 값 가져오기
		var selectedValue = $("#location option:selected").val();
		
		// 선택된 값이 비어있으면 AJAX 호출하지 않음
		if (selectedValue == "0") {
			return false;
			
		} else {
			$.ajax({
				type : "get",
				url : "../wardPS/searchHosp",
				data : {"location" : selectedValue},
				dataType : "text",
				success : function(result) {
					console.log(result);
					item = '<select style="width:20%; text-align: center">';
					item += '<option value="0" selected="selected">전체</option>';
					/*$.each(result.room, function(idx, room) {
						item += '<option value= "room.roomNum">room.roomLocation</option>';
						item += '</select>';
					})*/
					
					$("#hpStatus").html(item);
				},
				error: function() {
					alert("오류");
				}
			});
		}
	});
});


</script>

</head>
<body>
입원번호 검색 <br>

	<table width=600px align="center">
	<form action="searchHosp" method="get">
		<tr>
			<td colspan="5" align="center">
				<input type="search" name="searchWord" size=60 th:value="${searchWord}"/>
				<input type="submit" value="검색" />
			</td>
		</tr>
		
		<tr align="right">
			<td colspan="5">
				<select id="location" style="width:20%; text-align: center">
					<option value="0" selected="selected">전체</option>
					<option value="normal" >4층 일반병동</option>
					<option value="critical" >5층 중환자실</option>
				</select>
				
				<div id="hpStatus">
				
				</div>

				
			</td>
		</tr>
		
	</form>
	
		
	</table>

	<table border="1" width=600px align="center">
		<tr>
			<th>입원번호</th>
			<th>환자이름</th>
			<th>담당의</th>
			<th colspan="2">입원실</th>
		</tr>
		
		<tr th:each="dto : ${list}" th:onclick="selecthosp([[${dto.HospitalizationDTO.hospitalizationNum }]], [[${dto.HospitalizationDTO.docNum }]])">
			<td>[[${dto.HospitalizationDTO.hospitalizationNum}]]</td> 
			<td>[[${dto.patientName}]]</td>
			<td>[[${dto.HospitalizationDTO.docNum}]]</td>
			<td colspan="2">[[${dto.roomLoc}]]호 [[${dto.HospitalizationDTO.bedNum}]]</td>
		</tr>
		
		<tr>
		<th colspan="5" style="text-align: center;">
			<span th:if="${page <= 1}">[이전]</span>
			<span th:if="${page > 1}">
			<a th:href="|searchHosp?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
			</span>
			<th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
				[<a th:href="|searchHosp?page=${i}&searchWord=${searchWord}|">[[${i}]]</a>]
			</th:block>
			<span th:if="${page < maxPage}">
			<a th:href="@{searchHosp?(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
			</span>
			<span th:if="${page >= maxPage}">
			[다음]
			</span>			
		</th>
	</tr>
	</table>
</body>
</html>