<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>wardInPSdelete</title>
<style type="text/css">
	#title {
		font-size: 25px;
		margin: 10px;
		color: black;
	}
	
	table{
		color: black;
		text-align: center;		
	}
	
	th{
		background-color: #b2c9ad;
		font-size: 20px; 
		width: 20%;
		
	}
	
	td{
		background-color: white;
		width: 30%;
		margin-right: 2%;
	}
	
	input {
		width: 95%;
		align-content: center;
	}
	
	#a1{
		width: 25%;
	}
	
	#a2{
		width: 5%;
	}
	
	#btn{
		font-size : 10px;
		width: 100%;
	}

</style>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script type="text/javascript">
$(function(){
	$("#sub").click(function(){
		$("#frm").ajaxSubmit({  //CSR
			type: "POST",
			url: "../wardPS/wardInPSdelete",
			beforeSubmit : function(){
				
				if($("#delPsNum").val() == ""){
					alert("처방전을 선택하신 후 중지를 요청하십시오.");
					location.href= "/";
				}
				
				if($("#delCaller").val() == ""){
					alert("다시 로그인 해주십시오.");
					location.href= "/";
				}
				
				if($("#delCause").val() == ""){
					alert("처방 중지 사유를 입력하십시오.");
					$("#delCause").focus();
					return false;
				}
				
			},
			success: function (result) {
				
			},
			
			error : function(){
				alert("서버오류");
				location.href="/";
			}
		});
	});
});


</script>
</head>
<body>
<div id="title" align="center" style="margin-top: 5%; margin-bottom: 2%; text-align: center;">
삭제 요청
</div>

<div align="center" style="margin-left: 20px; margin-right: 20px;">
<form action="wardPsUpdate" method="post" id="frm">
    <table border="1">
    
    	<tr>
    		<th>삭제 요청번호</th>
            <td>
                <input type="text" name="delCallNum" id="delCallNum" 
                		th:value="${autoNum}" readonly="readonly">
            </td>
    	</tr>
    	
    	<tr>
    		<th>처방/일지 번호</th>
            <td>
                <input type="text" name="delPsNum" id="delPsNum" 
                		th:value="${num}" readonly="readonly">
            </td>
    	</tr>
    	
		<tr>
            <th>중지 요청자</th>
            <td>
                <input type="text" name="delCaller" id="delCaller"
                		th:value="${userNum}" readonly="readonly">
            </td>
        </tr>
        <tr>
            <th>삭제 사유</th>
            <td>
                <textarea name="delCause" id="delCause" rows="5" 
                			style="width: 95%; align-content: center;"></textarea>
            </td>
        </tr>
	</table>

    <button type="submit" id="sub" class="btn col-12" 
    		style="background-color: #4b5945; color: white">수정</button>
</form>
</div>
</body>
</html>