<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수술예약 상세보기</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#delete").click(function(){
		$.ajax({
			type: "GET",
			url: "surgeryAppointmentDelete?surgeryAppointmentNum=[[${dto.surgeryAppointmentNum}]]",
			success: function(result){
				window.opener.location.reload();
				window.self.close();
			},
			error: function(){
				alert("서버오류");
			}
		})
	})
})
</script>
</head>
<body>
<a th:href="@{surgeryWrite(surgeryAppointmentNum=${dto.surgeryAppointmentNum},sempNum=${dto.sempNum})}">수술결과 기록하기</a>
	<table border="1" width="600">
		<tr><th>수술예약번호</th>
			<td colspan="3">[[${dto.surgeryAppointmentNum}]]</td></tr>
		<tr><th>수술명</th>
			<td colspan="3">[[${dto.surgeryName}]]</td></tr>
		<tr><th>수술시작 시간</th>
			<td>[[${#temporals.format(dto.surgeryDate, 'yyyy-MM-dd HH:mm')}]]</td>
			<th>수술끝 시간</th>
			<td>[[${#temporals.format(dto.surgeryEndDate, 'yyyy-MM-dd HH:mm')}]]</td></tr>
		<tr><th>집도의</th>
			<td colspan="3">[[${dto.sempNum}]]</td></tr>
		<tr><th>마취의</th>
			<td colspan="3">[[${dto.aempNum}]]</td></tr>
		<tr><th>수술실</th>
			<td colspan="3">[[${dto.operatingRoomNum}]]</td></tr>
		<tr><th>처방번호</th>
			<td colspan="3">[[${dto.wardprescriptNum}]]</td></tr>
	</table>
	수술예약 정보 <a th:href="|surgeryAppointmentModify?surgeryAppointmentNum=${dto.surgeryAppointmentNum}|">수정</a> / 
			   <a id="delete">삭제</a>
</body>
</html>