<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수술 예약</title>
</head>
<body>
<form action="surgeryAppointment" method="post">
	<table border="1" width="600">
		<tr>
			<th>수술예약번호</th>
			<td><input type="text" name="surgeryAppointmentNum" th:value="${autoNum}" readonly="readonly"/></td>
		</tr>
		<tr>
			<th>수술명</th>
			<td><input type="text" name="surgeryName"/></td>
		</tr>
		<tr>
			<th>수술날짜</th>
			<td><input type="date" name="surgeryDate"/></td>
		</tr>
		<tr>
			<th>집도의</th>
			<td><input type="text" name="sempNum"/></td>
		</tr>
		<tr>
			<th>마취의</th>
			<td><input type="text" name="aempNum"/></td>
		</tr>
		<tr>
			<th>수술실</th>
			<td><input type="text" name="operatingRoomNum"/></td>
		</tr>
		<tr>
			<th>처방번호</th>
			<td><input type="text" name="wardprescriptNum"/></td>
		</tr>
		<tr>
			<th colspan="2"><input type="submit" value="수술 예약"/></th>
		</tr>
	</table>
</form>
</body>
</html>