<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수술 기록 수정</title>
</head>
<body>
<form action="surgeryUpdate" method="post" >
<table border="1" width="500" align="center">
	<tr><th>수술번호</th>
		<td><input type="text" th:value="${dto.surgeryNum}" name="surgeryNum" readonly="readonly"></td></tr>
	<tr><th>수술예약번호</th>
		<td><input type="text" th:value="${dto.surgeryAppointmentNum}" name="surgeryAppointmentNum" readonly="readonly"/></td></tr>
	<tr><th>수술내용</th>
		<td><textarea rows="10" cols="40" name="surgeryContent">[[${dto.surgeryContent}]]</textarea></td></tr>
	<tr><th>입력일시</th>
		<td><input type="date" th:value="${#dates.format(dto.inputDate, 'yyyy-MM-dd')}" name="inputDate"/></td></tr>
	<tr><th>작성자</th>
		<td><input type="text" th:value="${dto.sempNum}" name="sempNum" readonly="readonly"/></td></tr>
	<tr><th colspan="2"><input type="submit" value="수정완료"/></th></tr>
</table>
</form> <br>
<div align="center">
<a th:href="|surgeryDetail?surgeryNum=${dto.surgeryNum}|">돌아가기</a>
</div>
</body>
</html>