<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>수술예약 상세보기</title>
</head>
<body>
<a th:href="|surgeryWrite?surgeryAppointmentNum=${dto.surgeryAppointmentNum}|">수술결과 기록하기</a>
	<table border="1" width="600">
		<tr><th>수술예약번호</th>
			<td>[[${dto.surgeryAppointmentNum}]]</td></tr>
		<tr><th>수술명</th>
			<td>[[${dto.surgeryName}]]</td></tr>
		<tr><th>수술날짜</th>
			<td>[[${#dates.format(dto.surgeryDate, 'yyyy-MM-dd')}]]</td></tr>
		<tr><th>집도의</th>
			<td>[[${dto.sempNum}]]</td></tr>
		<tr><th>마취의</th>
			<td>[[${dto.aempNum}]]</td></tr>
		<tr><th>수술실</th>
			<td>[[${dto.operatingRoomNum}]]</td></tr>
		<tr><th>처방번호</th>
			<td>[[${dto.wardprescriptNum}]]</td></tr>
	</table>
	수술예약 정보 <a th:href="|surgeryAppointmentModify?surgeryAppointmentNum=${dto.surgeryAppointmentNum}|">수정</a> / 
			  <a th:href="|surgeryAppointmentDelete?surgeryAppointmentNum=${dto.surgeryAppointmentNum}|">삭제</a>
</body>
</html>