<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
        
<title>수술기록 리스트</title>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
	
});
$(function(){
	$.ajax({
			type : "get",
			url: "../getFooter",
			dataType:"html",
			success:function(result){
				$("#getFooter").html(result);
			},
			error:function(){
				alert("서버오류");
			}
		});
});
function selectNum(surgeryNum){
	location.href="surgeryDetail?surgeryNum="+surgeryNum;
}
</script>

<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;
}
</style>
</head>
<body>
<div id="getHeader"></div>
	<div align="center">
		<a href="surgeryWrite" class="btn" style="color: white; background-color: #4b5945">수술결과 기록하기</a>
	</div>
<br>
	<br>
	<form action="surgeryList" method="get" align="center">
		<tr><td colspan="6">
				검색 : 
				<input type="search" name="searchWord" size="60" th:value="${searchWord}"/>
				

				<input type="submit" value="검색" class="btn" style="background-color: #4b5945; color: white"/>

			</td>
	</form>
	<br>
	<table border="1" class="container col-8">
		<tr align="center"><th>수술번호</th><th>수술예약번호</th><th>수술명</th><th>수술날짜</th><th>입력일시</th><th>작성자</th></tr>
		<tr align="center" th:each="dto : ${list}" th:onclick="selectNum([[${dto.surgeryDTO.surgeryNum}]])">
			<td><a th:href="|surgeryDetail?surgeryNum=${dto.surgeryDTO.surgeryNum}|">[[${dto.surgeryDTO.surgeryNum}]]</a></td>
			<td>[[${dto.surgeryAppointmentDTO.surgeryAppointmentNum}]]</td>
			<td>[[${dto.surgeryAppointmentDTO.surgeryName}]]</td>
			<td>[[${#temporals.format(dto.surgeryAppointmentDTO.surgeryDate,'yyyy-MM-dd HH:mm')}]] ~ [[${#temporals.format(dto.surgeryAppointmentDTO.surgeryEndDate,'HH:mm')}]]</td>
			<td>[[${#dates.format(dto.surgeryDTO.inputDate,'yyyy-MM-dd')}]]</td>
			<td>[[${dto.surgeryDTO.sempNum}]]</td>
		</tr>
		<tr align="center"><td colspan="7">
			<th:block th:if="${page <= 1}">
				[이전]
			</th:block>
			<th:block th:if="${page > 1}">
				<a th:href="@{surgeryList(page=${page-1}, searchWord=${searchWord})}">[이전]</a>
			</th:block>
			
			<th:block th:each=" i : ${#numbers.sequence(startPageNum, endPageNum)}">
				<a th:href="@{surgeryList(page=${i}, searchWord=${searchWord})}">[[${i}]]</a>
			</th:block>
			
			<th:block th:if="${page >= maxPage}">
				[다음]
			</th:block>
			<th:block th:if="${page < maxPage}">
				<a th:href="@{surgeryList(page=${page+1},searchWord=${searchWord})}">[다음]</a>
			</th:block>
		</td></tr>
	</table>
<div id="getFooter"></div>
</body>
</html>