<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>처방번호 찾기</title>
<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;
}
</style>
<script  src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

<script type="text/javascript">

function SelLoc() {
	var selectedValue = $("#location option:selected").val();
	var par5 = $("#hpState option:selected").val();
	if (par5 != null && par5 != "") {
		location.href = "WholeWardPsList?location="+selectedValue+"&hpState="+par5;
	}else {
		location.href = "WholeWardPsList?location="+selectedValue;
	}
	
}

function Selroom() {
	var par2 = $("#searchWord").val();
	var selectedValue = $("#location option:selected").val();
	var par4 = $("#roomN option:selected").val();
	var par5 = $("#hpState option:selected").val();
	if(par2 != null && par2 != ""){
		location.href = "WholeWardPsList?searchWord="+par2 +"&location=" 
				+ selectedValue +"&roomN="+par4
				+ "&hpState="+par5;
	}else {
		location.href = "WholeWardPsList?location=" + selectedValue +"&roomN="+par4+"&hpState="+par5;
	}
}

function wardSelect(wardPsNum){
	$(opener.document).find("#wardPsNum").val(wardPsNum);
	window.self.close();
}
</script>
</head>
<body>
<a th:href="|myPatientList?empNum=${userNum}|">담당 환자 목록</a><br>
	<table width=800px align="center">
	<form action="WholeWardPsList" method="get" id="frm">
		<tr>
			<td colspan="5" align="center">
				<input type="search" name="searchWord" size=60 th:value="${searchWord}" id="searchWord"/>
				<input type="submit" id="sub" value="검색">
			</td>
		</tr>
		
		<tr>
		
			<td colspan="2" align="left">
				<select name="hpState" id="hpState" th:value="${hpState}" onchange="Selroom()"
					 style="width: 100px; text-align: center">
						<option value="all" selected="selected">전체</option>
						<option value="입원" th:selected="${hpState} == '입원'">입원</option>
						<option value="퇴원" th:selected="${hpState} == '퇴원'">퇴원</option>
				</select>
			</td>
			<td colspan="3" align="right">
				<select name="location" id="location" th:value="${location}" onchange="SelLoc()"
				 style="width:20%; text-align: center">
					<option value="all" selected="selected">전체</option>
					<option value="normal" 
					th:selected="${location} == 'normal'">4층 일반병동</option>
					<option value="critical" 
						th:selected="${location} == 'critical'">5층 중환자실</option>
				</select>
				
				<select name="roomN" id="roomN" th:value="${roomN}" onchange="Selroom()"
					style="width:20%; text-align: center">
					<option value="all" selected="selected">-------</option>
					<option th:each="room : ${room}" th:value="${room.roomNum}" 
					th:selected="${room.roomNum} == ${roomN}">[[${room.roomLocation}]]</option>
				
				</select>
			</td>
			
		</tr>
		
	</form>
	
		
	</table>

	<table border="1" width=800px align="center">
		<tr>
			<th>병동처방번호</th>
			<th>진단명</th>
			<th>담당의</th>
			<th>작성자</th>
			<th>입력일시</th>
		</tr>
		
		<tr th:each="dto : ${list}" >
			<td>[[${dto.wardPsNum}]]</td> 
			<td>[[${dto.diagName}]]</td>
			<td>[[${dto.empNum}]]</td>
			<td>[[${dto.writeDoc}]]</td>
			<td>[[${#dates.format(dto.inputDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
			<td><button type="button"
					th:attr="onclick=|javascript:wardSelect('${dto.wardPsNum}')|">선택</button></td>
		</tr>
		
		<tr>
		<th colspan="6" style="text-align: center;">
			<span th:if="${page <= 1}">[이전]</span>
			<span th:if="${page > 1}">
			<a th:href="|wardPsList?page=${page - 1}&searchWord=${searchWord}&location=${location}&roomN=${roomN}&hpState=${hpState}|">[이전]</a>
			</span>
			<th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
				[<a th:href="|wardPsList?page=${i}&searchWord=${searchWord}&location=${location}&roomN=${roomN}&hpState=${hpState}|">[[${i}]]</a>]
			</th:block>
			<span th:if="${page < maxPage}">
			<a th:href="@{wardPsList?(page=${page + 1},searchWord=${searchWord},location=${location},roomN=${roomN}),hpState=${hpState}}">[다음]</a>
			</span>
			<span th:if="${page >= maxPage}">
			[다음]
			</span>			
		</th>
	</tr>
	</table>
</body>
</html>