<!DOCTYPE html>
<html>
<head>
<!-- Meta Tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Site keywords here">
<meta name="description" content="">
<meta name='copyright' content=''>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>환자정보 수정</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src ="/static/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>
<script type="text/javascript" src="/static/js/checkInputUser2.js"></script>

<!-- Favicon -->
<link rel="icon" href="../static/img/favicon.png">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
	rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="../static/css/nice-select.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<!-- icofont CSS -->
<link rel="stylesheet" href="../static/css/icofont.css">
<!-- Slicknav -->
<link rel="stylesheet" href="../static/css/slicknav.min.css">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="../static/css/owl-carousel.css">
<!-- Datepicker CSS -->
<link rel="stylesheet" href="../static/css/datepicker.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="../static/css/animate.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="../static/css/magnific-popup.css">

<!-- Medipro CSS -->
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/responsive.css">

</head>
<body>
<!-- Start Contact Us -->
	<section class="contact-us section">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6-center">
						<div class="contact-us-form" >
							<h2>환자정보 수정</h2><br>
							   <form action="patientUpdate" method="post" th:object="${patientCommand}" id="frmm" ><!--  dto -->
								<div class="row">
									<div class="col-12">
										<div class="form-group">
										

<input type="text" th:field="*{patientNum}" name="patientNum" hidden="hidden">

이름 : <input type="text" name="patientName" id="userName" th:field="*{patientName}"/><br />
아이디 : <input type="text" name="patientId" id="patientId" th:field="*{patientId}" readonly="readonly"/> 아이디 변경 불가<br/>
생년월일 : <input type="date" name="patientBirth" id="userBirth" th:value="${#dates.format(dto.patientBirth,'yyyy-MM-dd')}"><br/> <hr/>

주소 : <input type="text" name="patientAddr" id="sample4_roadAddress" th:field="*{patientAddr}" readonly="readonly" />
<button type="button" onclick="execDaumPostcode();" class="btn" style="height:30px; text-align:center; padding: .200rem .75rem;">우편번호검색</button><br />
상세주소 : <input type="text" name="patientAddrDetail" th:field="*{patientAddrDetail}"/><br />
우편번호 : <input type="text" name="patientPost" id="sample4_postcode" th:field="*{patientPost}" readonly="readonly"/><br /><hr/>
연락처 : <input type="tel" name="patientPhone" id="userPhone" th:field="*{patientPhone}" placeholder="'-'제외 숫자 9~11자"/>
<span style="color:red"  th:if="${#fields.hasErrors('patientPhone')}" th:errors="*{patientPhone}"></span><br />
성별: <input type="radio" name="patientGender" value="M" th:field="*{patientGender}"> 남
	<input type="radio" name="patinetGender" value="F" th:field="*{patientGender}"> 여 <br/>
이메일 : <input type="email" name="patientEmail" id="userEmail" th:field="*{patientEmail}"/>
<span id="emailCheck"></span><br />

<div class="form-group login-btn">
<br/>
											<button class="btn" type="submit" style="width:100%;">환자정보 수정하기</button>
										</div>
									</div>
								</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>