<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Site keywords here">
<meta name="description" content="">
<meta name='copyright' content=''>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>유저정보</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src ="/static/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>

<!-- Favicon -->
<link rel="icon" href="../static/img/favicon.png">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
	rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/bootstrap-green.min.css">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="../static/css/nice-select.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<!-- icofont CSS -->
<link rel="stylesheet" href="../static/css/icofont.css">
<!-- Slicknav -->
<link rel="stylesheet" href="../static/css/slicknav.min.css">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="../static/css/owl-carousel.css">
<!-- Datepicker CSS -->
<link rel="stylesheet" href="../static/css/datepicker.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="../static/css/animate.min.css">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="../static/css/magnific-popup.css">

<!-- Medipro CSS -->
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body>


<!-- Start Contact Us -->
<section class="contact-us section">
	<div class="container">
		<div class="inner">
			<div class="row">
				<div class="col-lg-6-center">
						<div class="contact-us-form" >
							<h2>환자정보 상세보기</h2><br>
							
								<div class="row">
									<div class="col-12">
										<div class="form-group" style="color:black; font-size:14px;">
    환자번호 : [[${dto.patientNum }]]<br/>
	이름 : [[${dto.patientName }]]<br/>
	주민번호 : [[${dto.patientJumin}]]<br/>
	생년월일 :  [[${#dates.format(dto.patientBirth ,'yyyy-MM-dd')}]]<br/>
	아이디 :  [[${dto.patientId }]]<br/>
	주소 :  [[${dto.patientAddr }]]<br/>
	상세주소 :  [[${dto.patientAddrDetail }]]<br/>
	우편번호 :  [[${dto.patientPost }]]<br/>
	연락처 :  [[${dto.patientPhone }]]<br/>
		
	이메일 :  [[${dto.patientEmail }]]<br/>
	성별 : [[${dto.patientGender}]]<br/>
</div>
									</div>


<div class="col-12">
<div class="form-group login-btn">
<button type="button" th:onclick="javascript:location.href='patientUpdate?patientNum='+[[${dto.patientNum}]]"
class="btn" style="height:30px; text-align:center; padding: .200rem .75rem;">유저 수정</button>
<th:block th:if="${session.auth!=null}">
<th:block th:if="${session.auth.userId == dto.patientNum}">
 <button type="button" th:onclick="javascript:location.href='patientDelete?patientNum='+[[${dto.patientNum}]]"
 class="btn" style="height:30px; text-align:center; padding: .200rem .75rem;">유저 탈퇴</button>
</th:block>
</th:block>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>     


<!-- blank area 빈공간 만드는 코드-->
		<section class="appointment">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<div class="subscribe-text ">
							<h6></h6><p class=""></p>
						</div></div>
					<div class="col-lg-6  col-12">
						<div class="subscribe-form ">
							<form action="#" method="get" target="_blank" class="newsletter-inner"></form>
						</div></div></div></div>
		</section>
		<!-- end blank area -->

<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>소셜네트워크</h2>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-google-plus"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
									<li><a href="#"><i class="icofont-vimeo"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
						
							<div class="single-footer f-link">
							<h2>가이드라인</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>병원윤리강령</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>환자의 권리와 의무</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>안전보건경영방침</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>개인정보처리방침</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>비급여진료비 안내</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>영업시간</h2>
								<ul class="time-sidual">
									<li class="day">월요일 - 금요일 <span>8.00-20.00</span></li>
									<li class="day">토요일 <span>9.00-18.30</span></li>
									<li class="day">응급센터 <span>상시운영</span></li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>주소 : 14097 경기도 안양시 만안구 <br>
								임시병원 대표전화 : 1588-#### 사업자등록번호 : 207-82-##### 양진서(팀장)<br>
								© 2025 IMSI Medical Center.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->                
</body>
</html>