<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>환자정보 수정</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src ="/static/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>
<script type="text/javascript" src="/static/js/checkInputUser2.js"></script>
</head>
<body>

<form action="patientUpdate" method="post" th:object="${patientCommand}" id="frmm" ><!--  dto -->
<input type="text" th:field="*{patientNum}" name="patientNum" hidden="hidden"> <br />

이름 : <input type="text" name="patientName" id="userName" th:field="*{patientName}"/><br />
아이디 : <input type="text" name="patientId" id="patientId" th:field="*{patientId}" readonly="readonly"/><br />
생년월일 : <input type="date" name="patientBirth" id="userBirth" th:value="${#dates.format(dto.patientBirth,'yyyy-MM-dd')}"><br/>

주소 : <input type="text" name="patientAddr" id="sample4_roadAddress" th:field="*{patientAddr}" readonly="readonly" />
<button type="button" onclick="execDaumPostcode();">우편번호검색</button><br />
상세주소 : <input type="text" name="patientAddrDetail" th:field="*{patientAddrDetail}"/><br />
우편번호 : <input type="text" name="patientPost" id="sample4_postcode" th:field="*{patientPost}" readonly="readonly"/><br />
연락처 : <input type="tel" name="patientPhone" id="userPhone" th:field="*{patientPhone}" placeholder="'-'제외 숫자 9~11자"/>
<span style="color:red"  th:if="${#fields.hasErrors('patientPhone')}" th:errors="*{patientPhone}"></span><br />
성별: <input type="radio" name="patientGender" value="M" th:field="*{patientGender}"> 남
	<input type="radio" name="patinetGender" value="F" th:field="*{patientGender}"> 여 <br/>
이메일 : <input type="email" name="patientEmail" id="userEmail" th:field="*{patientEmail}"/>
<span id="emailCheck"></span><br />

<input type="submit" value="환자정보 수정 완료" />                       
</form>
</body>
</html>