<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/pwCheck.js"></script>
</head>
<body>
비밀번호 확인<br/>
현재 비밀번호를 입력하여주세요<br/>
<form action="patPwCon" method="post" id="frmm" th:object="${patientCommand}">
현재 비밀번호: <input type="password" name="patientPwCon" id="userPwCon" 
placeholder="대소문자, 숫자, 특수문자 모두 포함하여 8자 이상">
<span style="color:red"  th:if="${#fields.hasErrors('patientPwCon')}" th:errors="*{patientPwCon}"></span><br/>
<input type="submit" value="입력완료">
</form>
</body>
</html>