<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>임상병리 리스트</title>
</head>
<body>
<div align="center">
	<a href="clinicalWrite">검사 소견서 작성</a>
</div>
	<table border="1" width="600" align="center">
		<tr><th>임상병리 번호</th><th>검사명</th><th>의료기사</th><th>검사날짜</th></tr>
		<tr th:each="dto : ${list}">
			<td>[[${dto.clinicalDTO.clinicalNum}]]</td>
			<td>[[${dto.inspectionDTO.inspectionName}]]</td>
			<td>[[${dto.clinicalDTO.empNum}]]</td>
			<td>[[${#temporals.format(dto.inspectionDTO.inspectionDate,'yyyy-MM-dd HH:mm')}]]</td>
		</tr>
	</table>
</body>
</html>