<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>임상병리 리스트</title>

<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
table tr:not(:first-child):hover {
    background-color: #E2E2E2;
}
</style>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
	
});
$(function(){
	$.ajax({
			type : "get",
			url: "../getFooter",
			dataType:"html",
			success:function(result){
				$("#getFooter").html(result);
			},
			error:function(){
				alert("서버오류");
			}
		});
});
function selectNum(clinicalNum){
	location.href="clinicalDetail?clinicalNum="+clinicalNum;
}
</script>

</head>
<body>
<div id="getHeader"></div>
<div align="center" style="font-size: 25px;margin: 10px;color: black;margin-top: 5%">임상병리 검사결과 기록</div>
	<table border="1" class="container col-6">
		<tr align="center"><th>임상병리 번호</th><th>검사명</th><th>의료기사</th><th>검사날짜</th></tr>
		<tr th:each="dto : ${list}" align="center" th:onclick="selectNum([[${dto.clinicalDTO.clinicalNum}]])">
			<td>[[${dto.clinicalDTO.clinicalNum}]]</td>
			<td>[[${dto.inspectionDTO.inspectionName}]]</td>
			<td>[[${dto.clinicalDTO.empNum}]]</td>
			<td>[[${#temporals.format(dto.inspectionDTO.inspectionDate,'yyyy-MM-dd HH:mm')}]]</td>
		</tr>
	</table>
<div id="getFooter"></div>
</body>
</html>