<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>외래진료EMR</title>
</head>
<body>
<table border="1">
 	<tr><td>진료번호</td><td>[[${medicalCommand.medicalNum}]]</td></tr>
 	<tr><td>접수번호</td><td>[[${medicalCommand.receiptNum}]]</td></tr>
 	<tr><td>환자번호</td><td>[[${medicalCommand.patientNum}]]</td></tr>
 	<tr><td>진단명</td><td>[[${medicalCommand.diagnosticName}]]</td></tr>
 	<tr><td>진단내용</td><td>[[${medicalCommand.diagnosticContent}]]</td></tr>
 	<tr><td>약처방</td><td>[[${medicalCommand.medicinePrescript}]]</td></tr>
 	<tr><td>각종 검사처방</td><td>[[${medicalCommand.examinationPrescript}]]</td></tr>
 	<tr><td>처치처방</td><td>[[${medicalCommand.handlePrescript}]]</td></tr>
 	<tr><td>입력일시</td><td>[[${#dates.format(medicalCommand.inputDate, 'yyyy-MM-dd')}]]</td></tr>
 	<tr><td>담당의사번호</td><td>[[${medicalCommand.empNum}]]</td></tr>
</table>
<a th:href="@{medicalUpdate(medicalNum=${medicalCommand.medicalNum})}">수정</a> |
<a href="../medical/medicalList">진료EMR 리스트</a>
</body>
</html>