<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>검사예약 페이지</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#wardNum").click(function(){
		window.open("/surgery/wardSearch", "wardSearch", "width=800, height=400, top=100, left=100");
	})
	$("#medNum").click(function(){
		window.open("/surgery/medicalSearch", "medicalSearch", "width=800, height=400, top=100, left=100");
	})
	$("#check").click(function(){
		if($("#wardPsNum").val() != '' && $("#medicalNum").val() != ''){
			alert("처방번호와 진료번호중 하나만 입력해주세요.");
		}else{
			$("#frm").ajaxSubmit({
				type: "POST",
				url: "inspectionWrite",
				success: function(result){
						location.href="inspectionList";
				},
				error: function(){
					alert("서버오류");
				}
			})
		}
	})
})
</script>
</head>
<body>
<div align="center">
	<a href="inspectionList">리스트로 돌아가기</a>
</div>
<form action="inspectionWrite" method="post" id="frm">
<table border="1" width="600" align="center">
	<tr><th>검사예약 번호</th>
		<td><input type="text" name="inspectionNum" th:value="${autoNum}" readonly="readonly"/></td></tr>
	<tr><th>검사종류</th>
		<td><input type="radio" name="inspectionKind" value="radiation"/>방사선
			<input type="radio" name="inspectionKind" value="cinical"/>임상병리</td></tr>
	<tr><th>검사명</th>
		<td><input type="text" name="inspectionName"/></td></tr>
	<tr><th>검사날짜</th>
		<td><input type="datetime-local" name="inspectionDate" id="date"/></td></tr>
	<tr><th>병동처방</th>
		<td><input type="text" name="wardprescriptNum" id="wardPsNum"/></td>
		<td><button type="button" id="wardNum" class="btn" style="background-color: #0A122A; color: white">처방번호 찾기</button></td></tr>
	<tr><th>진료번호</th>
		<td><input type="text" name="medicalNum" id="medicalNum"/></td>
		<td><button type="button" id="medNum" class="btn" style="background-color: #0A122A; color: white">진료번호 찾기</button></td></td></tr>
	<tr><th colspan="2"><input id="check" type="button" value="검사예약"/></th></tr>
</table>
</form>
</body>
</html>