<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>검사예약 수정</title>
</head>
<body>
<div align="center">
	<a th:href="|inspectionDetail?inspectionNum=${dto.inspectionNum}|">상세페이지로 돌아가기</a>
</div>
<form action="inspectionUpdate" method="post">
<table border="1" width="600" align="center">
	<tr><th>검사예약번호</th>
		<td><input type="text" name="inspectionNum" th:value="${dto.inspectionNum}" readonly="readonly"/></td></tr>
	<tr><th>검사명</th>
		<td><input type="text" name="inspectionName" th:value="${dto.inspectionName}"/></td></tr>
	<tr><th>검사날짜</th>
		<td><input type="datetime-local" name="inspectionDate" th:value="${#temporals.format(dto.inspectionDate,'yyyy-MM-dd HH:mm')}"/></td></tr>
	<th:block th:if="${dto.wardprescriptNum!=null}">
	<tr><th>병동처방번호</th>
		<td><input type="text" name="wardprescriptNum" th:value="${dto.wardprescriptNum}" readonly="readonly"/></td></tr>
	</th:block>
	<th:block th:if="${dto.medicalNum!=null}">
	<tr><th>진료번호</th>
		<td><input type="text" name="medicalNum" th:value="${dto.medicalNum}" readonly="readonly"/></td></tr>
	</th:block>
	<tr><th colspan="2"><input type="submit" value="수정완료"/></th></tr>
</table>
</form>
<br>
</body>
</html>