<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>검사예약 페이지</title>

<style type="text/css">
	span{
		color: black;
	}
</style>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#wardNum").click(function(){
		window.open("/surgery/wardSearch", "wardSearch", "width=800, height=400, top=100, left=100");
	})
	$("#medNum").click(function(){
		window.open("/surgery/medicalSearch", "medicalSearch", "width=800, height=400, top=100, left=100");
	})
	$("#check").click(function(){
		if($("#wardPsNum").val() != '' && $("#medicalNum").val() != ''){
			alert("처방번호와 진료번호중 하나만 입력해주세요.");
		}else{
			$("#frm").ajaxSubmit({
				type: "POST",
				url: "inspectionWrite",
				success: function(result){
						location.href="inspectionList";
				},
				error: function(){
					alert("서버오류");
				}
			})
		}
	})
})
$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
	
});
$(function(){
	$.ajax({
			type : "get",
			url: "../getFooter",
			dataType:"html",
			success:function(result){
				$("#getFooter").html(result);
			},
			error:function(){
				alert("서버오류");
			}
		});
});
</script>
</head>
<body>
</head>
<body>
<div id="getHeader"></div>

<section class="contact-us section">
		<div class="container col-lg-6">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6-center">
						<div class="contact-us-form" >
							<h2>검사예약</h2><br>
							<form action="inspectionWrite" method="post" id="frm">
								<div class="row">
									<div class="col-lg-2">
										<div class="form-group">
											<span>검사예약번호</span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<input type="text" name="inspectionNum" th:value="${autoNum}" readonly="readonly"/>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="form-group">
											<span>검사종류</span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<input type="radio" name="inspectionKind" value="radiation"/>방사선
											<input type="radio" name="inspectionKind" value="cinical"/>임상병리
										</div>
									</div>
									<div class="col-lg-2">
										<div class="form-group">
											<span>검사명</span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<input type="text" name="inspectionName"/>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="form-group">
											<span>검사날짜</span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<input type="datetime-local" name="inspectionDate" id="date"/>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="form-group">
											<span>병동처방</span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<input type="text" name="wardprescriptNum" id="wardPsNum"/>
											<button type="button" id="wardNum" class="btn" style="height:30px; text-align:center; padding: .200rem .75rem;">처방번호 찾기</button>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="form-group">
											<span>진료번호</span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<input type="text" name="medicalNum" id="medicalNum"/>
											<button type="button" id="medNum" class="btn" style="height:30px; text-align:center; padding: .200rem .75rem;">진료번호 찾기</button>
										</div>
									</div>
									<div class="col-12">
										 <div class="form-group login-btn">
											<button class="btn" type="button" style="width: 100%; background-color: #66785F" id="check">검사예약하기</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<div id="getFooter"></div>
</body>
</html>