<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<style type="text/css">
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
table tr:not(:first-child):not(:last-child):hover {
    background-color: #E2E2E2;
}
</style>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
	
});
$(function(){
	$.ajax({
			type : "get",
			url: "../getFooter",
			dataType:"html",
			success:function(result){
				$("#getFooter").html(result);
			},
			error:function(){
				alert("서버오류");
			}
		});
});
function selectNum(inspectionNum){
	location.href="inspectionDetail?inspectionNum="+inspectionNum;
}
</script>


<title>검사예약 리스트</title>
</head>
<body>
<div id="getHeader"></div>
<div align="center">
	<a href="inspectionWrite" class="btn" style="background-color: #4b5945; color: white">검사예약 하러가기</a> <br>
</div>

<br>
	<form action="inspectionList" method="get" align="center">
			<tr>
				<td>
					<select name="kind">
						<option>방사선</option>
						<option>임상병리</option>
						<option>모두</option>
					</select>
				</td>
				<td colspan="4">
					검색 : 
					<input type="search" name="searchWord" size="50" th:value="${searchWord}"/>
					<input type="submit" value="검색" style="background-color: #4b5945; color: white" class="btn"/>
				</td>
			</tr>
	</form>
	<br>
	<table border="1" class="container col-8">
		<tr  align="center"><th>검사종류</th><th>검사예약번호</th><th>검사명</th><th>검사날짜</th><th>검사시행상황</th></tr>
		<tr th:each="dto : ${list}"  align="center" th:onclick="selectNum([[${dto.inspectionNum}]])">
			<th th:if="${dto.inspectionKind=='cinical'}">
				임상병리
			</th>
			<th th:if="${dto.inspectionKind=='radiation'}">
				방사선
			</th>
			<th>[[${dto.inspectionNum}]]</th>
			<th>[[${dto.inspectionName}]]</th>
			<th>[[${#temporals.format(dto.inspectionDate,'yyyy-MM-dd HH:mm')}]]</th>
			<th>[[${dto.inspectionStatus}]]</th>
		</tr>
		<tr align="center"><td colspan="7">
			<th:block th:if="${page <= 1}">
				[이전]
			</th:block>
			<th:block th:if="${page > 1}">
				<a th:href="@{inspectionList(page=${page-1}, searchWord=${searchWord}, kind=${kind})}">[이전]</a>
			</th:block>
			
			<th:block th:each=" i : ${#numbers.sequence(startPageNum, endPageNum)}">
				<a th:href="@{inspectionList(page=${i}, searchWord=${searchWord}, kind=${kind})}">[[${i}]]</a>
			</th:block>
			
			<th:block th:if="${page >= maxPage}">
				[다음]
			</th:block>
			<th:block th:if="${page < maxPage}">
				<a th:href="@{inspectionList(page=${page+1},searchWord=${searchWord}, kind=${kind})}">[다음]</a>
			</th:block>
		</tr>
	</table>
<div id="getFooter"></div>
</body>
</html>