<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
테스트 <br>
<a href="surgery/surgeryAppointmentList">수술예약</a><br>
<a href="surgery/surgeryList">환자수술결과기록</a><br>
<br>
<a href="wardPS/wardPsList">병동처방</a><br>
<a href="nursing/nursingList">간호처방</a><br>
<a href="WardRoomBed/WardList">병동리스트</a><br/>
<br /><br />
<a href="receipt/reservationForm">(환자용)예약</a> |
<a href="receipt/receiptList">(직원용)접수/예약목록</a>
<br /><br />
<th:block  th:if="${session.auth==null}">
<a href="patient/patientWrite">환자 회원가입</a><br/>
<a href="login">로그인</a><br/>
</th:block>
<th:block th:if="${session.auth!=null}"> 
<a href="login/logout">로그아웃</a><br/>
<a href="patient/patientList">환자목록</a><br/>

<a href="patient/patientMyPage">환자 마이페이지</a><br/>
</th:block>
직원<br/>
<a href="employee/employeeWrite">직원등록</a>
 <a href="employee/employeeList">직원목록</a>
 <a href="employee/employeeMyPage">직원 마이페이지</a>
</body>
</html>