<!DOCTYPE html>
<html>
<head>
 <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>로그인</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<!-- <script type="text/javascript" src="/static/js/login.js"></script> -->
<script type="text/javascript">
 $(function(){
	$("#frm").submit(function(){
		if($("#userId").val===""){
			alert("아이디를 입력해주세요");
			$("#userId").focus();
			return false;
		}
		if($("#userPw").val()===""){
			alert("비밀번호를 입력해주세요");
			$("#userPw").focus();
			return false;
		}
	});
	
}); 
</script>
<link rel="stylesheet" href="/static/css/login.css">

<!-- Favicon -->
        <link rel="icon" href="static/img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="/static/css/nice-select.css">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="/static/css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="/static/css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="/static/css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="/static/css/datepicker.css">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body >
		
		<!-- Get Pro Button -->
		<ul class="pro-features">
			<a class="get-pro" href="#">Get Pro</a>
			<li class="big-title">Pro Version Available on Themeforest</li>
			<li class="title">Pro Version Features</li>
			<li>2+ premade home pages</li>
			<li>20+ html pages</li>
			<li>Color Plate With 12+ Colors</li>
			<li>Sticky Header / Sticky Filters</li>
			<li>Working Contact Form With Google Map</li>
			<div class="button">
				<a href="http://preview.themeforest.net/item/mediplus-medical-and-doctor-html-template/full_screen_preview/26665910?_ga=2.145092285.888558928.1591971968-344530658.1588061879" target="_blank" class="btn">Pro Version Demo</a>
				<a href="https://themeforest.net/item/mediplus-medical-and-doctor-html-template/26665910" target="_blank" class="btn">Buy Pro Version</a>
			</div>
		</ul>
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="#">About</a></li>
								<li><a href="#">Doctors</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="/"><img src="/static/img/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="#">수술/검사<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="/surgery/surgeryScheduler">수술스케쥴러</a></li>
													<li><a href="/surgery/surgeryList">환자수술결과기록</a></li>
													<li><a href="/surgery/operatingRoom">수술실</a></li>
													<li><a href="/inspection/inspectionList">검사예약</a></li>
													<li><a href="/radiation/radiationList">방사선</a></li>
													<li><a href="/clinical/clinicalList">임상병리</a></li>
												</ul>
											</li>
											<li><a href="#">처방/간호<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="/wardPS/hosPatList">병동처방</a></li>
													<li><a href="/nursing/hosPatList">간호처방 </a></li>
												</ul>
											</li>
											<li><a href="#">입원/병동/병실/응급실<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="/WardRoomBed/WardList">병동리스트</a></li>
													<li><a href="/Hospitalization/hospitalizationList">입원관리 </a></li>
													<li><a href="/Hospitalization/emerHospitalizationList">응급입원관리 </a></li>
												</ul>
											</li>
											<li><a href="#">접수/외래진료/문의/차트<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="/receipt/reservationForm">(환자용)예약</a></li>
													<li><a href="/receipt/patientReservation">(환자용)예약 확인하기</a></li>
													<li><a href="/receipt/receiptList">(직원용)접수/예약목록</a></li>
													<li><a href="/qna/qnaList">(환자용)문의/건의</a></li>
													<li><a href="/qna/eqnaList">(직원용)문의/건의</a></li>
													<li><a href="/data/test">주식차트</a></li>
													<li><a href="/data/test1">주식표</a></li>
												</ul>
											</li>
											<li><a href="#">사용자<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<th:block  th:if="${session.auth==null}">
														<li><a href="/patient/patientWrite">환자 회원가입</a></li>
														<li><a href="/find/findPatientNum">환자번호 찾기</a></li>
														<li><a href="/login/patientLogin">환자 로그인</a></li>
														<li><a href="/login/employeeLogin">직원 로그인</a></li>
													</th:block>
													<th:block th:if="${session.auth!=null}"> 
														<li><a href="/login/logout">로그아웃</a></li>
														<li><a href="/patient/patientMyPage">환자 마이페이지</a></li>	
													</th:block>
												</ul>
											</li>
										
											
											<li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="404">404 Error</a></li>
												</ul>
											</li>
											<li><a href="#">Blogs <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="blog-single">Blog Details</a></li>
												</ul>
											</li>
											<li><a href="contact">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="appointment" class="btn">Book Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>

<!-- Form -->
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>고객 로그인</h1>
    </div>
    <div class="form-content">
      <form action="patientLogin" method="post" th:object="${loginCommand}" id="frm" >
        <div class="form-group">
          <label for="username"><b>아이디 : </b></label>
          <input type="text" id="userId" name="userId" th:value="*{userId}"required>
          <span style="color:red" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
        </div>
        <div class="form-group">
          <label for="password"><b>비밀번호 : </b></label>
          <input type="password" name="userPw" th:value="*{userPw}" id="userPw" required>
           <span style="color:red" th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span>
        </div>
        <div class="form-group">
          <label class="form-remember"><input type="checkbox" name="idStore" th:checked="${loginCommand.idStore}"></label>
          <label><b>아이디 저장</b></label> |
           <label><a class="form-recovery" href="/find/findId"><b>아이디</b></a></label> / 
          <label><a class="form-recovery" href="/find/findPw"><b>비밀번호</b></a> 찾기</label> | 
          <label><a href="/patient/patientWriteCon"><b>회원가입</b></a></label>
        </div>
        <div class="form-group">
         
          </div>
        <div class="form-group">
          <button type="submit">로그인</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  
		<!-- blank area -->
		<section class="appointment">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<div class="subscribe-text ">
							<h6></h6><p class=""></p>
						</div></div>
					<div class="col-lg-6  col-12">
						<div class="subscribe-form ">
							<form action="#" method="get" target="_blank" class="newsletter-inner"></form>
						</div></div></div></div>
		</section>
  
</body>
</html>