<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>bedList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
});
$(function(){
	$.ajax({
			type : "get",
			url: "../getFooter",
			dataType:"html",
			success:function(result){
				$("#getFooter").html(result);
			},
			error:function(){
				alert("서버오류");
			}
		});
});
</script>
<style type="text/css">
	th{
		background-color: #b2c9ad;
		color: black;
	}
	div1{
		font-size: 25px;
		margin: 10px;
		color: black;
	}
</style>
</head>
<body>
<div id="getHeader"></div> 
<h3 align="center">일반병상리스트</h3>
<br>
	<table border="1" class="container col-6"  align="center">
	<form action="bedsDelete" method="post" id="frm">
		<tr align="center" style="background-color: #b2c9ad; color: black">
		<th>병상 번호</th>
		<th>병실 번호</th>
		<th>병상 상태</th>
		<th><input type="checkbox" id="checkBoxs"/><input type="submit" value="선택삭제" class="btn" style="height:30px; text-align:center; padding: .200rem .75rem; background-color: #66785f; color: white;"/></th>
		</tr>
		<tr th:each="dto : ${list}" align="center">
			<td>[[${dto.bedNum}]]</td>
			<td>[[${dto.roomNum}]]</td>
			<td th:if="${dto.bedStatus}=='사용중'" style="color: red">[[${dto.bedStatus}]]</td>
			<td th:if="${dto.bedStatus}=='사용가능'" style="color: green">[[${dto.bedStatus}]]</td>
			<td><input type="checkbox" name="nums" th:value="${dto.bedNum}" /></td>
		</tr>
	</table>
	</form>
	<br>
<h3 align="center">응급병상리스트</h3>
<br>
	<table border="1" class="container col-6"  align="center">
	<form action="emerbedsDelete" method="post" id="frm">
		<tr  align="center" style="background-color: #b2c9ad; color: black">
		<th>응급병상 번호</th>
		<th>병동 번호</th>
		<th>응급병상 상태</th>
		<th><input type="checkbox" id="checkBoxs"/><input type="submit" value="선택삭제" class="btn" style="height:30px; text-align:center; padding: .200rem .75rem; background-color: #66785f; color: white;"/></th>
		</tr>
		<tr th:each="dto : ${emerlist}" align="center">
			<td>[[${dto.emerBedNum}]]</td>
			<td>[[${dto.wardNum}]]</td>
			<td th:if="${dto.emerBedStatus}=='사용중'" style="color: red">[[${dto.emerBedStatus}]]</td>
			<td th:if="${dto.emerBedStatus}=='사용가능'" style="color: green">[[${dto.emerBedStatus}]]</td>
			<td><input type="checkbox" name="nums" th:value="${dto.emerBedNum}" /></td>
		</tr>
	</table>
	<div id="getFooter"></div>
</body>
</html>