<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>bedForm.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#roomserch").click(function(){
		window.open("/WardRoomBed/roomList?wardNum=null", "roomList", "width=400, height=230, top=100, left=100");
	});
});
</script>
</head>
<body>
<form action="bedRegist" method="post">
병실번호 : <input type="text" name="roomNum" id="roomNum"/> <button type="button" id="roomserch">병실검색</button><br>
병상번호 : <input type="text" name="bedNum"/><br>
병상상태 : <input type="text" name="bedStatus" value="사용가능" readonly="readonly"/><br>
<input type="submit" value="등록"/> 
</form>

</body>
</html>