<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>bedList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function roomSelect(roomNum){
	$(opener.document).find("#room").val(roomNum);
	
	window.self.close();
}
</script>
</head>
<body>
	<table border="1">
		<tr><th>수술실 번호</th><th>수술실 위치</th></tr>
		<tr th:each="dto : ${list}">
			<td>[[${dto.roomNum}]]</td>
			<td>[[${dto.roomLocation}]]</td>
			<td><button type="button" 
					th:attr="onclick=|javascript:roomSelect('${dto.roomNum}')|">선택</button>
			</td>
		</tr>
	</table>
</body>
</html>