<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>bedList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function bedSelect(bedNum){
	$(opener.document).find("#bedNum").val(bedNum);
	
	window.self.close();
}
</script>
</head>
<body>
	<table border="1">
		<tr><th>병상 번호</th><th>병실 번호</th><th>병상 상태</th></tr>
		<tr th:each="dto : ${list}">
			<td>[[${dto.bedNum}]]</td>
			<td>[[${dto.roomNum}]]</td>
			<td>[[${dto.bedStatus}]]</td>
			<td><button type="button" 
					th:attr="onclick=|javascript:bedSelect('${dto.bedNum}')|">선택</button>
			</td>
		</tr>
	</table>
</body>
</html>