<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>roomList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
});
$(function(){
	$.ajax({
			type : "get",
			url: "../getFooter",
			dataType:"html",
			success:function(result){
				$("#getFooter").html(result);
			},
			error:function(){
				alert("서버오류");
			}
		});
});
</script>
</head>
<body>
</head>
<body>
<div id="getHeader"></div> 
<div align="center" style="font-size: 25px; margin: 10px; color: black;">
			병실리스트
</div>
<br>
	<table border="1" class="container col-6"  align="center">
	<form action="roomsDelete" method="post" id="frm">
		<tr style="background-color: #b2c9ad; color: black" align="center">
		<th align="center">병동 번호</th>
		<th align="center">병실 번호</th>
		<th align="center">병실 위치</th>
		<th align="center"><input type="checkbox" id="checkBoxs"/>
		<input type="submit" value="선택삭제" class="btn" style="height:30px; text-align:center; padding: .200rem .75rem; background-color: #66785f; color: white;"/></th>
		</tr>
		<tr th:each="dto : ${list}">
			<td align="center">[[${dto.wardNum}]]</td>
			<td align="center">[[${dto.roomNum}]]</td>
			<td align="center">[[${dto.roomLocation}]]</td>
			<td align="center"><input type="checkbox" name="nums" th:value="${dto.roomNum}" /></td>
		</tr>
	</form>
	</table>
	<div id="getFooter"></div>
</body>
</html>