<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>wardList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function wardSelect(wardNum){
	$(opener.document).find("#wardNum").val(wardNum);
	
	window.self.close();
}
</script>
</head>
<body>
병동리스트<br />

<table border="1">
		<tr><th>병동 번호</th><th>병동위치</th></tr>
		<tr th:each="dto : ${list}">
			<td><a th:href="|roomList?wardNum=${dto.wardNum}|">[[${dto.wardNum}]]</a></td>
			<td>[[${dto.wardLocation}]]</td>
			<td><button type="button" 
					th:attr="onclick=|javascript:wardSelect('${dto.wardNum}')|">선택</button>
			</td>
		</tr>
	</table>


</body>
</html>