<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>wardList.html</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type : "get",
		url: "../getHeader",
		dataType:"html",
		success:function(result){
			$("#getHeader").html(result);
		},
		error:function(){
			alert("서버오류");
		}
	});
});
$(function(){
	$.ajax({
			type : "get",
			url: "../getFooter",
			dataType:"html",
			success:function(result){
				$("#getFooter").html(result);
			},
			error:function(){
				alert("서버오류");
			}
		});
});
</script>
</head>
<body>
<div id="getHeader"></div> 
<div align="center" style="font-size: 25px; margin: 10px; color: black;">
병동리스트
</div>
<br>
<table border="1"  class="container col-8">
<form action="wardsDelete" method="post" id="frm">
		<tr align="center" style="background-color: #b2c9ad; color: black">
		<th>병동 번호</th>
		<th>병동위치</th>
		<th><input type="checkbox" id="checkBoxs"/><input type="submit" value="선택삭제"/></th>
		</tr>
		<tr th:each="dto : ${list}" align="center">
			<td><a th:href="|roomList?wardNum=${dto.wardNum}|">[[${dto.wardNum}]]</a></td>
			<td>[[${dto.wardLocation}]]</td>
			<td><input type="checkbox" name="nums" th:value="${dto.wardNum}" /></td>
		</tr>
</form>
	</table>
<br>
<table border="0" class="container col-6" align="center">
<tr align="center" style="background-color: white;">
<td><a href="../WardRoomBed/wardForm" class="btn col-11" style="background-color: #4b5945; color: white">병동추가</a></td>
<td><a href="../WardRoomBed/roomForm" class="btn col-11" style="background-color: #4b5945; color: white">병실추가</a></td></tr>
<tr><td colspan="2"> <br> </td></tr>
<tr align="center">
<td><a href="../WardRoomBed/bedForm" class="btn col-11" style="background-color: #4b5945; color: white">병상추가</a></td>
<td><a href="../WardRoomBed/emerBedForm" class="btn col-11" style="background-color: #4b5945; color: white">응급병상추가</a></td></tr>
<tr><td colspan="2"> <br> </td></tr>
<tr align="center">
<td><a href="../WardRoomBed/allroomList" class="btn col-11" style="background-color: #4b5945; color: white">모든병실보기</a></td>
<td><a href="../WardRoomBed/allBedList" class="btn col-11" style="background-color: #4b5945; color: white">모든병상보기</a></td></tr>
</table>
<div id="getFooter"></div>
</body>
</html>