<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<title>직원정보 수정</title>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src ="/static/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>
<script type="text/javascript" src="/static/js/checkInputUser2.js"></script>
<script type="text/javascript">
$(function(){
	$("#sectionSearch").click(function(){
		window.open("sectionSearch","소속과검색"
				,"width=620,height=400,left=30,top=50" )
	});
	
	$("#frmm").submit(function(){
		if($("#position").val().trim() === ""){
			alert("직무를 입력해주세요");
			$("#position").focus();
			return false;
		}
		if($("#sectionNum").val().trim() === ""){
			alert("소속과를 입력해주세요");
			$("#sectionNum").focus();
			return false;
		}
	});
});
</script>

</head>
<body>

<form action="employeeUpdate" method="post" th:object="${dto}" id="frmm"><!--  dto -->
<input type="text" th:field="*{empNum}" name="empNum" hidden="hidden"> <br />


이름 : <input type="text" name="empName" id="userName" th:field="*{empName}"/>
<br />
아이디 : <input type="text" name="empId" th:field="*{empId}" readonly="readonly"/>
<br />
생년월일 : <input type="date" name="empBirth" id="userBirth"  th:field="*{empBirth}"><br/>

주소 : <input type="text" name="empAddr" id="sample4_roadAddress" th:field="*{empAddr}" readonly="readonly"/>
<button type="button" onclick="execDaumPostcode();">우편번호검색</button>
<span th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}" ></span><br />
상세주소 : <input type="text" name="empAddrDetail" th:field="*{empAddrDetail}"/><br />
우편번호 : <input type="text" name="empPost" id="sample4_postcode" th:field="*{empPost}" readonly="readonly"/><br />
연락처 : <input type="tel" name="empPhone" id="userPhone" th:field="*{empPhone}" placeholder="'-'제외 숫자 9~11자"/>
<br />
이메일 : <input type="email" name="empEmail" id="userEmail" th:field="*{empEmail}"/>
<span id="emailCheck"></span><br/>
성별: <input type="radio" name="empGender" value="M" th:field="*{empGender}"> 남
	<input type="radio" name="patinetGender" value="F" th:field="*{empGender}"> 여 <br/>
직무 : <select id="position" name="position">
<option value="인턴">인턴</option>
<option value="사원">사원</option>
<option value="대리">대리</option>
<option value="팀장">팀장</option> 
<option value="과장">과장</option> 
<option value="부장">부장</option> 
</select><br/>
소속과 : <input type="text" name="sectionNum" id="sectionNum" th:field="*{sectionNum}" readonly="readonly">
<button type="button" id="sectionSearch">소속과 검색</button><br/>

<br />

<input type="submit" value="직원정보 수정 완료" />                     
</form>
</body>
</html>