<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="emp_reservationInsert" method="post">
    <table border="1">
      <tr><td>예약번호</td><td><input type="text" name="receiptNum" id="receiptNum"  th:value="${autoNum}" readonly="readonly"></td></tr>
      <tr><td>환자번호</td><td><input type="text" name="patientNum" id="patientNum">
      				<button type="button" id="btn">환자검색</button></td></tr>
      <tr><td>담당의사번호</td><td><input type="text" name="empNum">
      				<button type="button" id="btn1">의사검색</button></td></tr>
      <tr><td>예약일시</td><td><input type="datetime-local" name="reservationDate"></td></tr>
     </table>
        <button type="submit">예약등록</button>
    </form>
</body>
</html>