<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>접수/예약목록</title>
</head>
<body>
<a href="receiptForm">(직원용)접수</a> |
<a href="emp_reservationForm">(직원용)예약</a> |
<a href="../medical/medicalList">(직원용)외래진료EMR리스트</a>
<table border="1">
    <form action="receiptList" method="get">
		<tr>
			<td colspan=5>
				<input type="search" name="searchWord" size=60 th:value="${searchWord}"/>
				<input type="submit" value="검색" />
			</td>
		</tr>
	</form>
      <tr><td>접수/예약번호</td><td>환자번호</td><td>담당의사</td><td>접수일시</td><td>예약일시</td></tr>
 		<tr th:each="dto : ${list}">
 			<td>[[${dto.receiptNum}]]</td>
 			<td>[[${dto.patientNum}]]</td>
 			<td>[[${dto.empNum}]]</td>
 			<td>[[${#temporals.format(dto.receiptDate, 'yyyy-MM-dd HH:mm')}]]</td>
 			<td>[[${#temporals.format(dto.reservationDate, 'yyyy-MM-dd HH:mm')}]]</td>
 		</tr>
 		<tr>
		<th colspan="5" style="text-align: center;">
			<span th:if="${page <= 1}">[이전]</span>
			<span th:if="${page > 1}">
			<a th:href="|receiptList?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
			</span>
			<th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
				[<a th:href="|receiptList?page=${i}&searchWord=${searchWord}|">[[${i}]]</a>]
			</th:block>
			<span th:if="${page < maxPage}">
			<a th:href="@{receiptList?(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
			</span>
			<span th:if="${page >= maxPage}">
			[다음]
			</span>			
		</th>
		</tr>
 	</table>
</body>
</html>